<swiper [config]="config">
  <ng-container
    *ngFor="let item of productCategoryGroup; index as i; even as isEven"
  >
    <ng-template swiperSlide *ngIf="isEven">
      <a
        [routerLink]="[
          '/plp/lv1/' + formatName(productCategoryGroup[i].name) + '/c/1'
        ]"
        class="category"
      >
        <div class="category-image">
          <e2-media
            [container]="{
              url: productCategoryGroup[i].url,
              altText: 'category-image'
            }"
          ></e2-media>
        </div>
        <span class="category-name">{{ productCategoryGroup[i].name }}</span>
      </a>
      <a
        [routerLink]="[
          '/plp/lv1/' + formatName(productCategoryGroup[i + 1].name) + '/c/1'
        ]"
        class="category"
        *ngIf="productCategoryGroup[i + 1]"
      >
        <div class="category-image">
          <e2-media
            [container]="{
              url: productCategoryGroup[i + 1].url,
              altText: 'category-image'
            }"
          ></e2-media>
        </div>
        <span class="category-name">
          {{ productCategoryGroup[i + 1].name }}
        </span>
      </a>
    </ng-template>
  </ng-container>
</swiper>
