<ng-container *ngIf="(hasStock$ | async) && !compact && !iconOnly">
  <ng-container *ngIf="isFreeGift; else addToCart">
    <div class="btn btn-secondary-sm">Details</div>
  </ng-container>

  <ng-template #addToCart>
    <div
      *ngIf="!demoShowItemCounter"
      class="btn"
      (click)="demoShowItemCounter = true"
      [ngClass]="islarge ? 'btn-primary' : 'btn-secondary-sm'"
    >
      Add to cart
    </div>
    <e2-item-counter *ngIf="demoShowItemCounter" [val]="1"></e2-item-counter>
  </ng-template>
</ng-container>
