<div class="footerLinksInserted">
  <nav class="footerLink">
    <h5 class="footerLinkTitle">
      CUSTOMER SERVICE
    </h5>
    <div class="footerLinkDetails">
      <span class="footerLinkDetail"><a>Pns@email.com</a></span>
      <span class="footerLinkDetail"><a>+852 12345678</a></span>
    </div>
  </nav>
  <nav class="footerLink">
    <h5 class="footerLinkTitle">
      ABOUT US
    </h5>
    <div class="footerLinkDetails">
      <span class="footerLinkDetail"><a>About PARKnSHOP</a></span>
      <span class="footerLinkDetail"><a>Corporate Details</a></span>
      <span class="footerLinkDetail"><a>Quality Assurance</a></span>
      <span class="footerLinkDetail"
      ><a routerLink="/contactUs">Contact Us</a></span
      >
      <span class="footerLinkDetail"><a>Social Responsibility</a></span>
    </div>
  </nav>
  <nav class="footerLink">
    <h5 class="footerLinkTitle">
      SHOPPING
    </h5>
    <div class="footerLinkDetails">
      <span class="footerLinkDetail"><a>How to Shop</a></span>
      <span class="footerLinkDetail"><a>Store Locator</a></span>
      <span class="footerLinkDetail"><a>Delivery Methods</a></span>
      <span class="footerLinkDetail"><a>MoneyBack</a></span>
      <span class="footerLinkDetail"><a>Return Policy</a></span>
      <span class="footerLinkDetail"><a routerLink="/faq">FAQ</a></span>
    </div>
  </nav>
</div>


