@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?26406022');
  src: url('../font/fontello.eot?26406022#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?26406022') format('woff2'),
       url('../font/fontello.woff?26406022') format('woff'),
       url('../font/fontello.ttf?26406022') format('truetype'),
       url('../font/fontello.svg?26406022#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?26406022#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-menu:before { content: '\e800'; } /* '' */
.icon-cnc:before { content: '\e801'; } /* '' */
.icon-cnd:before { content: '\e802'; } /* '' */
.icon-arrow-left:before { content: '\e803'; } /* '' */
.icon-arrow-right:before { content: '\e804'; } /* '' */
.icon-chat:before { content: '\e805'; } /* '' */
.icon-correct:before { content: '\e806'; } /* '' */
.icon-crown:before { content: '\e807'; } /* '' */
.icon-sddelivery:before { content: '\e808'; } /* '' */
.icon-call:before { content: '\e809'; } /* '' */
.icon-notavailable:before { content: '\e80a'; } /* '' */
.icon-refresh:before { content: '\e80b'; } /* '' */
.icon-share:before { content: '\e80c'; } /* '' */
.icon-clock:before { content: '\e80d'; } /* '' */
.icon-bag:before { content: '\e80e'; } /* '' */
.icon-infomation:before { content: '\e80f'; } /* '' */
.icon-whatsapp:before { content: '\e810'; } /* '' */
.icon-warning:before { content: '\e811'; } /* '' */
.icon-facebook:before { content: '\e812'; } /* '' */
.icon-instagram:before { content: '\e813'; } /* '' */
.icon-youtube:before { content: '\e814'; } /* '' */
.icon-locate:before { content: '\e815'; } /* '' */
.icon-add:before { content: '\e816'; } /* '' */
.icon-back-in-time:before { content: '\e819'; } /* '' */
.icon-circle-close:before { content: '\e81a'; } /* '' */
.icon-close:before { content: '\e81b'; } /* '' */
.icon-trash:before { content: '\e81c'; } /* '' */
.icon-down:before { content: '\e81d'; } /* '' */
.icon-delivery:before { content: '\e81e'; } /* '' */
.icon-heart-off:before { content: '\e81f'; } /* '' */
.icon-heart-on:before { content: '\e820'; } /* '' */
.icon-lock:before { content: '\e821'; } /* '' */
.icon-minus:before { content: '\e822'; } /* '' */
.icon-person:before { content: '\e823'; } /* '' */
.icon-cart:before { content: '\e824'; } /* '' */
.icon-notify:before { content: '\e825'; } /* '' */
.icon-order-history:before { content: '\e826'; } /* '' */
.icon-search:before { content: '\e827'; } /* '' */
.icon-arrow-up:before { content: '\e828'; } /* '' */
.icon-arrow-down:before { content: '\e829'; } /* '' */
.icon-menu-mobile:before { content: '\e82a'; } /* '' */
.icon-back:before { content: '\e82b'; } /* '' */
.icon-speakerphone:before { content: '\e82c'; } /* '' */
.icon-park:before { content: '\e82d'; } /* '' */
.icon-zoom:before { content: '\e82f'; } /* '' */
.icon-icon_clock:before { content: '\e830'; } /* '' */
.icon-star:before { content: '\e831'; } /* '' */
.icon-email:before { content: '\e835'; } /* '' */
