<div class="form-group">
  <input 
    #searchInput 
    type="search" 
    autocomplete="off" 
    [placeholder]="placeholder" 
  />
  <i class="icon-search"></i>
  <i (click)="searchClear(searchInput)" class="icon-close"></i>
</div>