<ng-container *ngIf="componentData$ as entry;">
  <a 
    [routerLink]="entry.link" 
    [ngClass]="[ 
      isNavOpen$ ? 'navOpened' : '', 
      isSelected$ ? 'selected' : '', 
      entry?.className != null ? entry?.className : '',
      entry?.lv2 == null ? 'noSubMenu' : ''
    ]" 
    class="nav-item"
    >
    {{ entry.linkName }} 
    <ng-container *ngIf="entry?.lv2 != null;">
      <i class="icon-menu"></i>
    </ng-container>
  </a>
  <ng-container *ngIf="entry?.lv2 != null && entry?.lv2?.length != 0;">
    <div 
      [ngClass]="isNavSubOpen$ ? 'navSubOpen' : ''"
      class="nav-subMenu-lv1"
    >
      <ul>
        <ng-container *ngFor="let lv2 of entry.lv2; let i = index;">
          <li>
            <a 
              [routerLink]="lv2.link"
              [ngClass]="[
                isSubOpened$[i] && lv2?.lv3 != null ? 'active' : ''
              ]"
              (mouseover)="subMenuActive(isSubOpened$[i] = true, lv2?.lv3)" 
              (mouseout)="subMenuActive(isSubOpened$[i] = false, lv2?.lv3)"
            >{{ lv2.linkName }} <i class="icon-menu"></i></a>
            <ng-container *ngIf="lv2?.lv3 != null && lv2?.lv3?.length != 0;">
              <div
                (mouseover)="subMenuActive(isSubOpened$[i] = true)" 
                (mouseout)="subMenuActive(isSubOpened$[i] = false)" 
                class="nav-subMenu-lv2"
              >
                <ng-container *ngFor="let lv3 of lv2.lv3;">
                  <div class="detail">
                    <div class="list">
                      <div class="item">
                        <div class="item-header">
                          <div class="title">Snacks</div>
                          <a class="btn-viewAll">View All</a>
                        </div>
                        <div class="subcategory-group">
                          <a class="subcategory-item">
                            <div class="img"><img src="https://via.placeholder.com/74" alt="" /></div>
                            <div class="text">Chips, Crisps & Popcorns</div>
                          </a>
                          <a class="subcategory-item">
                            <div class="img"><img src="https://via.placeholder.com/74" alt="" /></div>
                            <div class="text">Biscuits</div>
                          </a>
                          <a class="subcategory-item">
                            <div class="img"><img src="https://via.placeholder.com/74" alt="" /></div>
                            <div class="text">Chocolates & Jelly</div>
                          </a>
                          <a class="subcategory-item">
                            <div class="img"><img src="https://via.placeholder.com/74" alt="" /></div>
                            <div class="text">Nuts & Seeds</div>
                          </a>
                          <a class="subcategory-item">
                            <div class="img"><img src="https://via.placeholder.com/74" alt="" /></div>
                            <div class="text">Candy & Gum</div>
                          </a>
                        </div>      
                      </div>
                      <div class="item">
                        <div class="item-header">
                          <div class="title">Hot Brands</div>
                        </div>
                        <div class="brands-group">
                          <a><img src="https://via.placeholder.com/68x40" alt="" /></a>
                          <a><img src="https://via.placeholder.com/68x40" alt="" /></a>
                          <a><img src="https://via.placeholder.com/68x40" alt="" /></a>
                          <a><img src="https://via.placeholder.com/68x40" alt="" /></a>
                          <a><img src="https://via.placeholder.com/68x40" alt="" /></a>
                          <a><img src="https://via.placeholder.com/68x40" alt="" /></a>
                          <a><img src="https://via.placeholder.com/68x40" alt="" /></a>
                        </div>      
                      </div>         
                    </div>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </li>
        </ng-container>
      </ul>
    </div>
  </ng-container>
</ng-container>