<div class="group-header" *ngIf="item.title">
  <span class="group-title">{{ item.title }}</span>
  <div class="header-row">
    <div class="sub-level-list-container" *ngIf="item.subLevelList">
      <ng-container *ngFor="let i of item.subLevelList; last as islast">
        <span class="subLevel">{{ i }}</span>
        <span class="separate" *ngIf="!islast">/</span>
      </ng-container>
    </div>
    <a
      class="btn btn-secondary-sm view-all-btn"
      [routerLink]="['/plp/lv1/viewAll/c/1']"
      *ngIf="!item.hasPageBtn"
    >
      View All
    </a>
    <div class="page-btn" *ngIf="item.hasPageBtn" [ngClass]="sectionClassName">
      <button class="previous">
        <i class="icon-arrow-left"></i>
      </button>
      <div class="pageNumber"></div>
      <button class="next">
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </div>
</div>
<div class="swiper-box" *ngIf="!hideSwiper">
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let slide of item.productlist; index as i">
      <e2-product-tile [product]="slide"></e2-product-tile>
    </ng-template>
  </swiper>
</div>
<div class="no-swiper" *ngIf="hideSwiper">
  <ng-container *ngFor="let slide of item.productlist; index as i">
    <e2-product-tile *ngIf="i < 6" [product]="slide"></e2-product-tile>
  </ng-container>
</div>
<div class="viewAllLink" *ngIf="item.hasViewAllLink">
  <a [routerLink]="['/plp/lv1/viewAll/c/1']">
    View all products of {{ item.title }} <i class="icon-arrow-right"></i>
  </a>
</div>
