<div class="footerBottomInserted">
  <div class="footerBottomDPT">
    <a class=""> Disclaimer & Notice </a>
    <a class=""> Privacy Policy </a>
    <a class="noWrap"> Terms & Conditions </a>
  </div>
  <div class="footerBottom">
    <div class="footerBottomWarning">
      <p>
        Under the law of Hong Kong, intoxicating liquor must not be sold or
        supplied to a minor (under 18) in the course of business.<br />
        根據香港法律，不得在業務過程中，向未成年人(18歲以下人士)售賣或供應令人醺醉的酒類。
      </p>
    </div>
    <div class="footerBottomAllRights">
      <span class="CKI">
        <img src="./assets/img/share/logo_ckh.png" alt="icon" />
      </span>
      <span> © 2021 PARKnSHOP.com Online Store. All rights reserved. </span>
    </div>
  </div>
</div>


