app-footer-links {
  width: 100%;
  display: block;
  .footerLinksInserted {
    display: flex;
    justify-content: flex-end;
    .footerLink {
      width: 36%;
      display: inline-flex;
      flex-direction: column;
      margin: 22px 0px 10px 0px;
      max-width: 170px;

      .footerLinkTitle {
        min-height: 14px;
        margin-bottom: 20px;
        position: relative;

        .expandCollapse {
          position: absolute;
          right: 10px;
          display: none;
          color: $color-octonary;
          text-decoration: none;
        }
      }

      .footerLinkDetails {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .footerLinkDetail {
          a {
            width: 100%;
            color: $color-octonary;
            line-height: 2.14;
            text-decoration: none;
          }
        }
      }

      &:not(:first-child) {
        max-width: 340px;

        .footerLinkDetail {
          flex-basis: 50%;
        }
      }
    }
  }
  @include breakpoint(tablet-range) {
    .footer-links {
      padding: unset;

      .footerLinksInserted {
        flex-direction: row;

        .footerLink {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          // margin: 0;
          max-width: 170px !important;

          .footerLinkTitle {
            width: 100%;
            background-color: $color-nonary;
            // min-height: unset;
            // padding: 10px 20px;
            // margin-bottom: unset;
          }

          .footerLinkDetails {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .footerLinkDetail {
              flex-basis: 100%;
              // padding: 10px 20px;
            }
          }
        }
      }
    }
  }

  @include breakpoint(sm-max) {
    app-footer-links {
      padding: unset;

      .footerLinksInserted {
        flex-direction: column;

        .footerLink {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          margin: 0;
          max-width: 100% !important;

          .footerLinkTitle {
            width: 100%;
            background-color: $color-nonary;
            min-height: unset;
            padding: 10px 20px;
            margin-bottom: unset;

            &.footerLinkTitleEmpty {
              margin: unset;
              padding: unset;
            }

            .expandCollapse {
              display: initial;
            }
          }

          .footerLinkDetails {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            .footerLinkDetail {
              flex-basis: 50%;
              padding: 10px 20px;
            }
          }
        }
      }
    }
  }
}


