app-footer-mobile-app {
  display: block;
  padding-left: 40px;
  .footerMobileAppInserted {
    .footerMobileAppTitle {
      margin: 22px auto 10px;
    }

    .footerMobileAppIcons {
      display: flex;
      justify-content: start;
      padding-left: 0;
      list-style-type: none;
      margin: 10px auto;

      .footerMobileAppIcon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: 10px;
        margin-top: 0;
      }
    }

    .footerSocialMediaIcons {
      display: flex;
      justify-content: start;
      padding-left: 0;
      list-style-type: none;
      margin: 23px auto;

      .footerSocialMediaIcon {
        margin-right: 20px;
        margin-top: 0;

        a {
          color: #e6e7e8;
          font-size: 22px;
          .icon-instagram {
            &::before {
              transform: translate(0, 1px);
            }
          }
          .icon-youtube {
            &::before {
              transform: translate(0, 2px);
            }
          }
        }
      }
    }
  }
  @include breakpoint(lg-max) {
    app-footer-mobile-app {
      padding: 0 20px;
    }
  }

  @include breakpoint(tablet-range) {
    app-footer-mobile-app {
      padding: 0 15px;
    }
  }

  @include breakpoint(sm-max) {
    app-footer-mobile-app {
      padding: 0 20px;
    }
  }
}





