app-footer-psp {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 40px;

  .footerPSPAwards {
    display: flex;
    margin: 0 -7px;

    .footerPSPAward {
      margin: auto 7px;
    }
  }

  .footerPSPPayments {
    display: flex;

    .footerPSPPayment {
      display: flex;
      margin: 0 -5px;

      span {
        margin: auto 5px;
      }
    }
  }

  @include breakpoint(lg-max) {

    app-footer-psp {
      padding: 0 20px;
    }
  }

  @include breakpoint(tablet-range) {

    app-footer-psp {
      padding: 0 15px;

      .footerPSPAwards {
        margin: 0 -1px;

        .footerPSPAward {
          margin: auto 1px;

          img {
            max-height: 40px;
          }
        }
      }

      .footerPSPPayments {

        .footerPSPPayment {
          margin: 0 -1px;

          span {
            margin: auto 1px;

            img {
              max-height: 40px;
            }
          }
        }
      }
    }
  }

  @include breakpoint(sm-max) {

    app-footer-psp {
      flex-direction: column;
      padding: 20px;
      align-items: flex-start;

      .footerPSPAwards {
        margin: 10px -10px;

        .footerPSPAward {
          margin: auto 10px
        }
      }

      .footerPSPPayments {

        .footerPSPPayment {
          flex-wrap: wrap;

          span {
            margin: 10px 2px;
          }
        }
      }
    }
  }
}



