app-footer-bottom {
  display: flex;
  justify-content: space-between;
  margin: 0 40px;

  .footerBottomInserted {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    width: 100%;

    .footerBottomDPT {
      a {
        color: $color-octonary;
        text-decoration: none;
        line-height: 2.14;

        &:not(:last-child) {
          &::after {
            content: '|';
            margin: auto 5px;
          }
        }
      }
    }

    .footerBottomWarning {
      margin: 10px auto;
      font-size: 10px;
    }

    .footerBottomAllRights {
      margin: 10px auto;
      font-size: 12px;
      display: inline-flex;
      align-items: center;

      span {
        margin-right: 10px;

        &.CKI {
          display: inline-flex;
          align-items: center;
        }
      }
    }
  }


  @include breakpoint(lg-max) {
    app-footer-bottom {
      padding: 10px 20px;
    }
  }

  @include breakpoint(tablet-range) {
    app-footer-bottom {
      padding: 10px 15px;

      .footerBottomInserted {
        .footerBottom {
          max-width: 500px;
        }
      }
    }
  }

  @include breakpoint(sm-max) {
    app-footer-bottom {
      padding: 10px 20px;

      .footerBottomInserted {
        flex-direction: column;

        .footerBottomWarning {
          padding: 13px 10px;
          background-color: rgba(216, 216, 216, 0.1);
        }

        .footerBottomAllRights {
          width: 100%;
          display: flex;
          flex-direction: column;
          text-align: center;

          .CKI {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}


