%button {
  button {
    background: transparent;
    border: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    &[disabled] {
      background-color: $color-septenary-light !important;
      border-color: $color-septenary-light !important;
      color: $color-white !important;
      pointer-events: none !important;
    }
  }
  // Buttons
  .btn {
    border-radius: 25px;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    min-width: 216px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    height: 50px;
    &.btn-primary {
      background: $color-senary;
      border: 1px solid $color-senary;
      color: $color-white;
      &.loading,
      &:hover {
        background: $color-senary-dark;
        border-color: $color-senary-dark;
      }
    }
    &.btn-primary-sm {
      font-size: 14px;
      height: 34px;
      background: $color-tertiary;
      border: 1px solid $color-tertiary;
      color: $color-white;
      &.loading,
      &:hover {
        background: $color-secondary-light;
        border-color: $color-secondary-light;
      }
    }
    &.btn-secondary {
      background: $color-secondary;
      border: 1px solid $color-secondary;
      color: $color-white;
      &.loading,
      &:hover {
        background: $color-primary;
        border-color: $color-primary;
      }
    }
    &.btn-secondary-sm {
      font-size: 14px;
      height: 34px;
      background: $color-septenary-light;
      border: 1px solid $color-septenary-light;
      color: $color-nonary;
      &.loading,
      &:hover {
        background: $color-tertiary;
        border-color: $color-tertiary;
        color: $color-white;
      }
    }
    &.float-btn {
      width: 60px;
      height: 60px;
      border-radius: 100%;
      font-weight: bold;
      min-width: unset;
      padding: unset;
      font-size: 12px;
      background-color: $color-white;
      color: $color-nonary;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      box-shadow: 0 0 10px 0 rgba($color-primary, 0.1);
      i {
        font-size: 20px;
        color: $color-tertiary;
      }
      &:hover {
        background-color: $color-tertiary-light;
      }
    }
    &.tag-btn {
      font-size: 14px;
      height: 30px;
      min-width: unset;
      width: fit-content;
      font-weight: unset;
      padding: 0 13px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 20px;
      border: solid 1px $color-tertiary-blue;
      background-color: $color-white;
      color: $color-primary;
      i {
        margin-left: 10px;
        font-size: 12px;
        color: $color-tertiary;
      }
      &:hover {
        background-color: $color-tertiary-light;
      }
    }
    &.view-all-btn {
      background-color: $color-septenary-light;
      min-width: 110px;
      height: 35px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
    }
    &.disabled {
      background: $color-octonary-light;
      border: 1px solid $color-octonary-light;
      color: $color-white;
      pointer-events: none;
    }
    .loading-main {
      display: none;
    }
    &.loading {
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '\00A0';
        display: block;
        width: 5px;
      }
      > .loading-main {
        color: $color-octonary;
        position: relative;
        &,
        &::before,
        &::after {
          display: block;
          content: '';
          background-color: $color-white;
          width: 6px;
          height: 6px;
          border-radius: 6px;
          margin: 0 2px;
          animation: fadingAnimation 0.5s ease-out infinite alternate;
        }
        &::before {
          position: absolute;
          left: -15px;
          animation-delay: -0.5s;
        }
        & {
          animation-delay: -0.25s;
          margin-left: -5px;
        }
        &::after {
          position: absolute;
          right: -15px;
          animation-delay: 0s;
        }
      }
    }
  }
}
