%carouselPanel {
  cx-carousel {
    position: relative;
    display: block;
  }
  .swiper-initialized,
  .swiper-container,
  .carousel-panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    .swiper-wrapper,
    .slides {
      position: relative;
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      display: flex;
      align-items: center;
      transition-property: transform;
      transform: translate3d(0, 0, 0);
      .swiper-slide,
      .slide {
        position: relative;
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        max-width: 100%;
        &.swiperFiller {
          pointer-events: none;
          visibility: hidden;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next,
    .previous,
    .next {
      position: absolute;
      cursor: pointer;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      i,
      cx-icon {
        font-style: normal;
        &:before {
          content: '\e858';
          display: inline-block;
          color: $color-white;
          font-family: $base-icon-font-family;
          font-size: 44px;
          font-weight: 100;
          margin: 0;
          text-decoration: inherit;
          text-align: center;
          transition: $transition;
        }
      }
    }
    .swiper-button-disabled {
      display: none;
    }
    .swiper-button-prev,
    .previous {
      left: 20px;
      i,
      cx-icon {
        &:before {
          transform: rotate(180deg);
        }
      }
    }
    .swiper-button-next,
    .next {
      right: 20px;
    }
  }
  .swiper-pagination-bullets:not(.custom) {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    line-height: 0;
    text-align: center;
    .swiper-pagination-bullet {
      background: $color-white;
      border-radius: 100%;
      cursor: pointer;
      display: inline-block;
      opacity: 0.7;
      &.swiper-pagination-bullet-active {
        background: $color-primary;
        opacity: 1;
      }
    }
  }
  .indicators:not(.swiper-pagination-bullets) {
    display: none;
  }
  @include breakpoint(md-min) {
    .swiper-pagination-bullets:not(.custom) .swiper-pagination-bullet {
      margin: 0 9px;
      height: 12px;
      width: 12px;
    }
  }
  @include breakpoint(md-max) {
    .swiper-pagination-bullets:not(.custom) .swiper-pagination-bullet {
      margin: 0 4px;
      height: 8px;
      width: 8px;
    }
  }
}
