%footer {
  footer {
    @extend %e2FooterPSP !optional;
    @extend %e2FooterMobileApp !optional;
    @extend %e2FooterLinks !optional;
    @extend %e2FooterBottom !optional;

    position: relative;
    margin-top: auto;
    background-color: #3e3e3e;

    .footer {
    display: flex;
    max-width: 1440px;
    margin: auto;
    flex-wrap: wrap;

      .FooterPSP {
        width: 100%;
        height: 79px;
        background-color: #ffffff;
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          width: 100vw;
          background-color: #ffffff;
          position: absolute;
          height: 100%;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      .FooterMobileApp {
        width: 30%;
        background-color: #3e3e3e;
        color: #ffffff;
      }

      .FooterLinks {
        width: 70%;
        background-color: #3e3e3e;
        color: #ffffff;
      }

      .FooterBottom {
        width: 100%;
        background-color: #323232;
        color: #9b9b9b;
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          width: 100vw;
          background-color: #323232;
          position: absolute;
          height: 100%;
          z-index: -1;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    @include breakpoint(sm-max) {

      .footer {

        .FooterPSP {
          height: auto;
        }

        .FooterMobileApp {
          width: 100%;
        }

        .FooterLinks {
          width: 100%;
          background-color: #323232;
        }

        .FooterBottom {
          border-top: 1px solid #9b9b9b;
        }
      }
    }
  }
}
