html {
  height: 100%;
  overscroll-behavior-y: contain;
}
body {
  @extend %header !optional;
  @extend %footer !optional;
  @extend %form !optional;
  @extend %button !optional;
  @extend %carouselPanel !optional;
  //@extend %modal !optional;
  //@extend %e2Breadcrumb !optional;
  //@extend %e2MoreInformation !optional;

  background: $base-color-background;
  color: $base-color-font;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow-x: hidden;
  * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: none;
    &:before,
    &:after {
      box-sizing: border-box;
    }
    [class^='icon-']:before,
    [class*='icon-']:before {
      line-height: normal;
      margin: 0;
      width: auto;
    }
  }
  app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }
}
[class*='PageTemplate']:not(cx-storefront) {
  position: relative;
  display: block;
  max-width: $base-root-max-width;
  margin: 0 auto;
  padding: 50px;
  @include breakpoint(lg-max) {
    padding: 20px;
  }
  @include breakpoint(md-max) {
    padding-left: 15px;
    padding-right: 15px;
  }
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}
h1,
.h1 {
  font-size: $base-h1;
  @include breakpoint(md-max) {
    font-size: $base-h1-mb;
  }
}
h2,
.h2 {
  font-size: $base-h2;
  @include breakpoint(md-max) {
    font-size: $base-h2-mb;
  }
}
h3,
.h3 {
  font-size: $base-h3;
}
h4,
.h4 {
  font-size: $base-h4;
}
h5,
.h5 {
  font-size: $base-h5;
}
h6,
.h6 {
  font-size: $base-h6;
}
a {
  color: $color-tertiary;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color: $color-secondary-light;
  }
}
ul,
ol {
  display: block;
  list-style: disc outside none;
  margin: 10px 0;
  padding: 0 0 0 20px;
  li {
    display: list-item;
    margin-top: 5px;
  }
}
ol {
  list-style-type: decimal;
}
p {
  margin: 0;
  & + p {
    margin: 10px 0 0;
  }
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  image-rendering: -webkit-optimize-contrast;
}
main {
  cx-page-slot {
    display: block;
    &:empty {
      display: none;
    }
  }
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.noBorder {
  border: none !important;
}
.noWrap {
  white-space: nowrap;
}
.wordBreakAll {
  word-break: break-all;
}
.isDesktop {
  display: none;
  @include breakpoint(md-min) {
    display: block !important;
  }
}
.isTablet {
  display: none;
  @include breakpoint(tablet-range) {
    display: block !important;
  }
}
.isMobile {
  display: none;
  @include breakpoint(sm-max) {
    display: block !important;
  }
}
.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 18px;
  .group-title {
    font-size: 30px;
    font-weight: bold;
  }
  .view-all-btn {
    text-decoration: none;
  }
  @include breakpoint(sm-max) {
    margin-bottom: 10px;
    .group-title {
      font-size: 18px;
      font-weight: 900;
    }
  }
}
.page-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 122px;
  height: 40px;
  padding: 0 15px;
  background-color: rgba($color-octonary-light, 0.5);
  .page-number {
    font-size: 16px;
    font-weight: bold;
  }
  .previous,
  .next {
    background-color: transparent !important;
    color: $color-octonary !important;
    cursor: pointer;
    font-size: 10px;
  }
  @include breakpoint(sm-max) {
    height: 30px;
    width: 90px;
    > * {
      font-size: 12px;
    }
  }
}
e2-media:not(.is-initialized) {
  img[loading='lazy'] {
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
