header {
  @extend %e2HeaderNotification !optional;
  @extend %e2HeaderPromotionText !optional;
  @extend %e2HeaderSiteLanguage !optional;
  @extend %e2SearchBox !optional;
  @extend %e2HeaderDeliveryMethod !optional;
  @extend %e2HeaderCart !optional;
  @extend %e2HeaderLogin !optional;
  position: relative;
  background-color: $color-white;
  box-shadow: 0 3px 5px 0 rgba($color-primary, 0.15);
  display: flex;
  flex-direction: column;
  top: 0;
  transition: $transition;
  padding: 0 !important;
  // transition: $transition;
  // transition-property: transform;
  //transition-duration: 0.5s;

  z-index: 9999;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    background-color: $color-bay-of-many;
    background-image: url('~/assets/img/share/bg_header.jpg');
    background-position: bottom;
    background-size: auto;
    background-repeat: repeat-x;
    z-index: -2;
  }
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: calc(-50vw + 50%);
    right: calc(-50vw + 50%);
    opacity: 0.2;
    background-image: linear-gradient(111deg, #1343c9 73%, #5d81e5 95%);
    z-index: -2;
  }
  .header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    z-index: 2;
    @include breakpoint(md-max) {
      align-items: center;
      padding: 0 20px;
    }
    .TopBanner {
      width: 100%;
      e2-top-banner {
        margin: 0 calc(-50vw + 50%);
        max-height: 500px;
        overflow: hidden;
        transition: $transition;
        transition-property: max-height;
      }
      @include breakpoint(md-max) {
        display: none;
      }
    }
    .PromotionText {
      position: relative;
      flex: 1 1 auto;
      width: 50%;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: calc(-50vw);
        right: calc(-50vw);
        background-color: $color-bay-of-many;
        height: 32px;
        z-index: -1;
      }
      @include breakpoint(sm-max) {
        width: 100%;
      }
    }
    .Notification {
      flex: auto;
      min-width: 35%;
      @include breakpoint(sm-max) {
        display: none;
      }
    }
    .SiteLanguage {
      @include breakpoint(sm-max) {
        display: none;
      }
    }
    .SiteLogo {
      @include breakpoint(md-min) {
        min-width: 300px;
        z-index: 1;
        e2-header-site-logo {
          position: absolute;
          top: calc(100% - 72px);
          left: 40px;
        }
      }
      @include breakpoint(md-max) {
        display: flex;
        align-items: center;
        height: 70px;
        margin-right: auto;
        e2-header-site-logo {
          margin-right: 10px;
        }
      }
    }
    .SearchBox {
      position: relative;
      flex: 1 1 auto;
      @include breakpoint(md-max) {
        display: none;
      }
    }
    .DeliveryMethod {
      margin-right: 16px;
      @include breakpoint(sm-max) {
        flex: 1;
        margin-right: 10px;
      }
    }
    .MiniCart {
      margin-right: 15px;
      @include breakpoint(sm-max) {
        margin-right: 6px;
      }
    }
    .MobileMenu {
      @include breakpoint(md-min) {
        display: none;
      }
      @include breakpoint(md-max) {
        margin-right: -5px;
        e2-header-mobile-menu {
          margin-left: 21px;
        }
      }
      @include breakpoint(sm-max) {
        e2-header-mobile-menu {
          margin-left: 12px;
        }
      }
    }
  }
  .headerNavigation {
    position: relative;
    display: block;
    transition: $transition;
    z-index: 1;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background-color: $color-white;
      height: 55px;
      z-index: -1;
    }
  }
  &.headerMini {
    position: sticky;
    animation: headerMini 0.2s ease-in-out;
    .header {
      align-items: center;
      &:before {
        content: none;
      }
      .PromotionText,
      .Notification,
      .SiteLanguage {
        display: none;
      }
      .TopBanner {
        e2-top-banner {
          max-height: 0;
          transition-duration: 0s;
        }
      }
      .SearchBox {
        e2-header-search-box {
          height: 70px;
          transition-duration: 0s;
        }
        e2-hot-suggest-item {
          display: none;
        }
      }
      .SiteLogo {
        e2-header-site-logo {
          position: relative;
          top: auto;
          left: auto;
        }
      }
    }
    .headerNavigation {
      e2-header-navigation-bar {
        e2-header-navigation-tab {
          .nav-item {
            &.navOpened {
              &.selected:not(.active) {
                background-color: transparent;
                box-shadow: none;
                color: inherit;
                &:hover {
                  background-color: $color-catskill-white;
                  box-shadow: inset 0 -3px 0 0 $color-tertiary;
                  color: $color-secondary;
                }
              }
              & ~ .nav-subMenu-lv1 {
                right: calc(100% - 352px);
              }
            }
          }
        }
      }
    }
  }
}
