<ng-container *ngIf="brandData">
  <div class="group-header">
    <span class="group-title">{{ brandData.name }}</span>
    <div class="page-btn" [ngClass]="sectionClassName">
      <button class="previous">
        <i class="icon-arrow-left"></i>
      </button>
      <div class="pageNumber"></div>
      <button class="next">
        <i class="icon-arrow-right"></i>
      </button>
    </div>
  </div>
  <div class="promotion-group">
    <a [routerLink]="['/promotion/singleBrand']" class="promotion-image">
      <e2-media
        [container]="{
          url: brandData.brandBanner,
          altText: 'promotion-image'
        }"
      ></e2-media>
    </a>
    <div class="product-group">
      <swiper [config]="config">
        <ng-template
          swiperSlide
          *ngFor="let slide of brandData.slides; index as i"
        >
          <div class="product-item">
            <div class="product-content">
              <div class="product-detail-row">
                <a [routerLink]="['/pdp/p/1']" class="product-name">{{
                  slide.name
                }}</a>
                <div class="product-unit">{{ slide.unit }}</div>
              </div>
              <div class="product-add-cart-group">
                <span class="originalPrice" *ngIf="slide.originalPrice">
                  ${{ slide.originalPrice }}
                </span>
                <div class="product-price-row">
                  <span class="currentPrice" [class.member]="slide.isMember">
                    <img
                      *ngIf="slide.isMember"
                      src="assets/img/icon_moneyback.png"
                      alt=""
                    />
                    ${{ slide.currentPrice }}
                  </span>
                  <e2-add-to-cart
                    [stockStatus]="slide.hasStock"
                  ></e2-add-to-cart>
<!--                  <e2-notify-me [stockStatus]="slide.hasStock"></e2-notify-me>-->
                </div>
              </div>
            </div>
            <a [routerLink]="['/pdp/p/1']" class="product-image">
              <e2-media
                [container]="{
                  url: slide.image,
                  altText: 'product-image'
                }"
              ></e2-media>
            </a>
          </div>
        </ng-template>
        <ng-container *ngIf="brandData.slides.length % 2 != 0 && needFiller">
          <ng-template swiperSlide class="swiperFiller"></ng-template>
        </ng-container>
      </swiper>
    </div>
  </div>
</ng-container>
