<div class="group-header">
  <span class="group-title"> Bundle Price </span>
</div>
<div class="bundle-group">
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let slide of slides; index as i">
      <div class="bundle-item">
        <div class="bundle-image">
          <e2-media
            [container]="{
              url: slide.image,
              altText: 'bundle-image'
            }"
          ></e2-media>
        </div>
        <div class="bundle-content">
          <div class="bundle-name">{{ slide.name }}</div>
          <div class="bundle-add-cart-group">
            <div class="bundle-price">
              <span class="currentPrice">${{ slide.currentPrice }}</span>
              <span class="originalPrice" *ngIf="slide.originalPrice">
                ${{ slide.originalPrice }}
              </span>
            </div>
            <e2-view-bundle
              [stockStatus]="slide.hasStock"
              [product]="slide"
            ></e2-view-bundle>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-container *ngIf="slides.length % 2 != 0 && needFiller">
      <ng-template swiperSlide class="swiperFiller"></ng-template>
    </ng-container>
  </swiper>
</div>
