<div
  class="input-number"
  [class.noEdit]="noEdit"
  [class.disabled]="disabled"
  [class.unavailable]="unavailable"
>
  <div class="input-container">
    <button type="button" class="minus disabled" (click)="minusVal($event)">
      <i class="icon-minus"></i>
    </button>
    <input
      type="number"
      class="input-val"
      min="{{ min }}"
      max="{{ max }}"
      value="{{ inputVal }}"
    />
    <button type="button" class="plus" (click)="plusVal($event)">
      <i class="icon-add"></i>
    </button>
  </div>
  <div class="errorMsg" *ngIf="errorMsg">{{ errorMsg }}</div>
  <div class="unavailableMsg" *ngIf="unavailableMsg">{{ unavailableMsg }}</div>
</div>
