%e2HeaderCart {
  e2-header-mini-cart {
    a {
      position: relative;
      color: $color-white;
      display: block;
      text-decoration: none;
      &:hover {
        color: $color-white;
      }
      .icon-cart {
        font-size: 22px;
      }
      .count {
        position: absolute;
        top: -7px;
        right: -8px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-senary;
        border-radius: 50%;
        font-size: 10px;
        height: 20px;
        width: 20px;
      }
    }
  }
}
