%e2HeaderLogin {
  e2-header-login {
    position: relative;
    display: block;
    .account-link {
      color: $color-white;
      display: block;
      padding-left: 10px;
      text-decoration: none;
      .icon-person {
        font-size: 22px;
      }
    }
    .account-menu {
      position: absolute;
      top: 24px;
      right: 0;
      @include breakpoint(md-max) {
        display: none;
      }
      .container {
        background-color: $color-white;
        border: 1px solid $color-septenary;
        border-radius: 10px;
        box-shadow: 0 6px 10px 0 rgba($color-primary, 0.15);
        margin-top: 14px;
        width: 250px;
        overflow: hidden;
        .account-list {
          ul,
          li {
            list-style: none;
            margin: 0;
            padding: 0;
          }
          a {
            display: flex;
            align-items: center;
            color: $color-dove-gray;
            min-height: 50px;
            padding: 5px 15px;
            text-decoration: none;
            &:hover {
              color: $color-tertiary;
            }
            i {
              font-size: 20px;
              margin-right: 15px;
            }
          }
        }
        .account-logout {
          background-color: $color-septenary-light;
          border-top: 1px solid $color-septenary;
          a {
            display: block;
            font-weight: bold;
            height: 50px;
            line-height: 50px;
            text-align: center;
            text-decoration: none;
          }
        }
      }
    }
  }
}
