%e2HeaderDeliveryMethod {
  e2-header-delivery-method {
    .deliveryMethod {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba($color-white, 0.1);
        border-radius: 17.5px;
        color: $color-white;
        height: 35px;
        min-width: 178px;
        padding: 0 10px;
        text-decoration: none;
        .delivery-content {
          display: flex;
          align-items: center;
        }
        .icon-delivery {
          font-size: 20px;
        }
        .icon-cnc {
          font-size: 16px;
        }
        .icon-down {
          font-size: 8px;
        }
        .text {
          margin: 0 9px 0 11px;
          width: 92px;
          display: flex;
          flex-direction: column;
          *:not(:only-child) {
            font-size: 10px;
            &:last-of-type {
              font-size: 12px;
              overflow: hidden;
              text-overflow: ellipsis;
              display: -webkit-box;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }
          }
        }
        @include breakpoint(sm-max) {
          justify-content: space-between;
          min-height: 40px;
          height: auto;
          padding: 5px 15px;
          width: 100%;
          .icon-cnc,
          .icon-delivery {
            display: none;
          }
          .text {
            font-size: 12px;
            margin: 0 10px 0 0;
            width: unset;
          }
        }
      }
    }
  }
}
