<div class="group-header">
  <span class="group-title"> {{ superBrand.name }} </span>
  <a
    class="btn btn-secondary-sm view-all-btn"
    [routerLink]="['/promotion/singleBrand']"
    >View All</a
  >
</div>
<div class="promotion-main">
  <div class="promotion-content">
    <div class="promotion-logo">
      <e2-media
        [container]="{
          url: superBrand.logo,
          altText: 'promotion-logo'
        }"
      ></e2-media>
    </div>
    <div class="promotion-description">
      {{ superBrand.description }}
    </div>
    <div class="promotion-product-group">
      <div
        class="promotion-product"
        *ngFor="let item of superBrand.productList"
      >
        <a [routerLink]="['/pdp/p/1']" class="product-image">
          <e2-media
            [container]="{
              url: item.image,
              altText: 'product-image'
            }"
          ></e2-media>
        </a>
        <div class="product-content">
          <a [routerLink]="['/pdp/p/1']" class="product-name">
            {{ item.name }}
          </a>
          <div class="product-add-cart-group">
            <div class="product-price">${{ item.currentPrice }}</div>
            <e2-add-to-cart [stockStatus]="item.hasStock"></e2-add-to-cart>
            <e2-notify-me [stockStatus]="item.hasStock"></e2-notify-me>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="promotion-banner">
    <e2-media
      [container]="{
        url: isMobile ? superBrand.mBanner : superBrand.dBanner,
        altText: 'promotion-banner'
      }"
    ></e2-media>
  </div>
</div>
