<div [ngClass]="{ searching: isOpened$ }" class="form-group">
  <input 
    #searchInput 
    type="search" 
    autocomplete="off" 
    [(ngModel)]="queryParam$"
    [placeholder]="placeholder" 
    [ngClass]="{ active: isOpened$ }" 
    (input)="onChange(searchInput.value)" 
  />
  <i class="icon-search"></i>
  <i (click)="searchClear($event, searchInput)" class="icon-circle-close"></i>
</div>
<div class="search-result">
  <ng-container *ngIf="!isSearched$; else searching">
    <div class="searched">
      <div class="container">
        <div class="label-item">
          <div class="label-header">
            <div class="title">Recently searched</div>
            <a>Clean All</a>
          </div>
          <div class="label-list">
            <span (click)="searchQuery('Mask')">Mask<i (click)="removeLabel($event)" class="icon-close"></i></span>
            <span (click)="searchQuery('Alcohol')">Alcohol<i (click)="removeLabel($event)" class="icon-close"></i></span>
            <span (click)="searchQuery('Meiji')">Meiji<i (click)="removeLabel($event)" class="icon-close"></i></span>
            <span (click)="searchQuery('Oreo')">Oreo<i (click)="removeLabel($event)" class="icon-close"></i></span>
            <span (click)="searchQuery('Buy 1 Get 1 Free')">Buy 1 Get 1 Free<i (click)="removeLabel($event)" class="icon-close"></i></span>
          </div>
        </div>
        <div class="label-item">
          <div class="label-header">
            <div class="title">Hot Keywords</div>
          </div>
          <div class="label-list">
            <span (click)="searchQuery('Biscuits')">Biscuits</span>
            <span (click)="searchQuery('Calbee Jagabee')">Calbee Jagabee</span>
            <span (click)="searchQuery('Nuts')">Nuts</span>
            <span (click)="searchQuery('Seeds')">Seeds</span>
            <span (click)="searchQuery('Calbee Cheese Crisps')">Calbee Cheese Crisps</span>
            <span (click)="searchQuery('Chocolates')">Chocolates</span>
            <span (click)="searchQuery('Frozen Food')">Frozen Food</span>
            <span (click)="searchQuery('Flagship Store')">Flagship Store</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #searching>
    <div [ngClass]="{ resultEmpty: isEmpty$ }" class="suggestions">
      <div class="container">
        <div class="box-item">
          <div class="box-header">
            <div class="resultTitle">Top results for “<span>{{ searchInput.value }}</span>”</div>
          </div>
          <div class="box-body">
            <ng-container *ngIf="isEmpty$; else searchContet">
              <div class="empty">
                <a class="btn-viewAllProduct">View all product of "<span>{{ searchInput.value }}</span>"</a>
              </div>
            </ng-container>
            <ng-template #searchContet>
              <perfect-scrollbar
                fxFlex="auto"
                [scrollIndicators]="true"
                [config]="{ suppressScrollX: true }"
              >
                <div class="list">
                  <a (click)="searchQuery('Coca Cola')"><strong>C</strong>o<strong>c</strong>a <strong>C</strong>ola</a>
                  <a (click)="searchQuery('Clear Turn White Vitamin C Mask')"><strong>C</strong>lear Turn White Vitamin <strong>C</strong> Mask</a>
                  <a (click)="searchQuery('Chrysanthemum Tea')"><strong>C</strong>hrysanthemum Tea</a>
                  <a (click)="searchQuery('c.c. Lemon 6p')"><strong>c</strong>.<strong>c</strong>. Lemon 6p</a>
                  <a (click)="searchQuery('Creamy C\'mint Choc Chip Ice Cream')"><strong>C</strong>reamy <strong>C</strong>'mint <strong>C</strong>hoc <strong>C</strong>hip I<strong>c</strong>e <strong>C</strong>ream</a>
                  <a (click)="searchQuery('Coca Cola')"><strong>C</strong>o<strong>c</strong>a <strong>C</strong>ola</a>
                  <a (click)="searchQuery('Clear Turn White Vitamin C Mask')"><strong>C</strong>lear Turn White Vitamin <strong>C</strong> Mask</a>
                  <a (click)="searchQuery('Chrysanthemum Tea')"><strong>C</strong>hrysanthemum Tea</a>
                  <a (click)="searchQuery('c.c. Lemon 6p')"><strong>c</strong>.<strong>c</strong>. Lemon 6p</a>
                  <a (click)="searchQuery('Creamy C\'mint Choc Chip Ice Cream')"><strong>C</strong>reamy <strong>C</strong>'mint <strong>C</strong>hoc <strong>C</strong>hip I<strong>c</strong>e <strong>C</strong>ream</a>
                </div>
              </perfect-scrollbar>
            </ng-template>
          </div>
          <div class="box-footer">
            <a (click)="searchQuery(searchInput.value)" class="btn-viewAll">View All</a>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>