<ng-container *ngFor="let list of sortedList | keyvalue">
  <ul class="nav" *ngIf="list.key != 'undefined'">
    <swiper [config]="config">
      <ng-template swiperSlide *ngFor="let item of list.value; index as i">
        <li
          [class.active]="sortedList[list.key].active == i"
          (click)="sortedList[list.key].active = i"
        >
          {{ item.title }}
        </li>
      </ng-template>
    </swiper>
  </ul>
  <ng-container *ngFor="let item of list.value; index as i">
    <e2-product-swiper
      [class.tab-pane]="sortedList[list.key].active != -1"
      [class.active]="sortedList[list.key].active == i"
      [item]="item"
    ></e2-product-swiper>
  </ng-container>
</ng-container>
