@import '../general';

.e2AccountAddressBookPageTemplate {
  @extend %e2Account !optional;
  @extend %e2AccountAddressBookSlot !optional;

  .addressBookBox {
    padding-top:10px;
    font-size: 14px;
    color: #9b9b9b;
    height: auto;

    .container {
      width: 49%;
      background-color: $color-white;
      padding: 20px 20px 10px 20px;
      border-radius: 10px;

      .name {
        color: $color-primary;
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 20px;
        .default {
          color: #3f5ab5;
          font-weight: normal;
          border-radius: 8px;
          font-size: 10px;
          padding: 2px 8px;
          background-color: #dde5ff;
          margin-bottom: 2px;
        }
        .dropdown {
          position: relative;
          display: inline-block;
          float: right;
          cursor: pointer;
          .dropdown-content {
            display: none;
            position: absolute;
            background-color: $color-white;
            color: $color-dove-gray;
            font-size: 14px;
            font-weight: 200;
            text-align: center;
            line-height: 30px;
            min-width: 160px;
            box-shadow: 0 0 10px 0 rgb(30 56 140 / 10%);
            border-radius: 10px;
            padding: 12px 16px;
            z-index: 1;
            right: -65px;
          }
          .red {
            color: $color-quaternary-dark;
          }
        }
        .dropdown:hover .dropdown-content {
          display: block;
        }
      }

      .contentBox {
        padding-bottom: 15px;
        display: flex;
        flex-direction: row;
        line-height: 22px;
        i {
          margin-right: 15px;
        }
      }
    }

    @include breakpoint(sm-max) {
      max-width: 100vw;
      width: 100vw;
      .container {
        width: 92%;
        margin-bottom: 10px;
        margin-right: 0px;
      }
      .dropdown {
        .dropdown-content {
         right: -20px !important;
        }
      }
      .right {
        float: left;
      }
    }
  }

  .left {
    float: left;
  }
  .right {
    float: right;
  }
}
