@import '../general';

.e2AccountOrderHistoryListingPageTemplate {
  @extend %e2Account !optional;
  @extend %e2AccountOrderListing !optional;

  padding-top: 0;

  .OrderListing {
    max-width: 935px;
    display: inline-flex;
    width: 100%;

    @include breakpoint(md-max) {
      margin-left: unset;
    }
  }
}
