@import '../general';

.e2BrandLandingPageTemplate {
  @extend %E2PlpHeaderTitle !optional;
  @extend %e2PlpHeaderBanner !optional;
  @extend %e2PlpWarning !optional;
  @extend %e2ProductFacetNavigation !optional;
  @extend %e2ProductList !optional;

  .PLPHeaderTitle {
    width: 100vw;
    background-color: $color-white;
    margin: -55px calc(-50vw + 50%) 0;
    padding: 55px calc(50vw - 50%) 20px;
  }
  .PLPHeaderBanner {
    margin: -20px 0 15px;
  }
  .PLPWarning {
    margin-bottom: 15px;
  }
  .PLPHeaderTitle {
    margin-bottom: 20px;
  }
  .ProductRefinement,
  .ProductCarousel {
    margin-bottom: 30px;
  }
  .ProductRefinement {
    e2-product-facet-navigation {
      .navigation-container {
        .tab-nav {
          padding: 0 20px;
        }
      }
    }
  }
}
