@import '../general';

.e2CheckOutPageTemplate {
  @extend %e2PageTitle !optional;
  @extend %e2FloatButton !optional;
  @extend %e2Checkout !optional;

  @at-root main {
    background-color: $base-color-background;
  }
  cx-page-slot {
    width: 100%;
  }
}
