@import '../general';

.e2ContactUsPageTemplate {
  @extend %e2ContactForm !optional;
  @extend %e2ContactSide !optional;

  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 10px;

  cx-page-slot {

    &.ContactForm {
    }

    &.ContactSide {
    }
  }
  @include breakpoint(sm-max) {
    flex-direction: column;
    gap: 16px;
  }
}


  .e2ContactUsPageTemplate {
}
