@import '../general';

.e2DemoPageTemplate {
  @extend %e2ItemCounter !optional;
  @extend %e2Rating !optional;
  @extend %ngxSlider !optional;
  @extend %e2AddToWishlist !optional;
  @extend %e2AddToCart !optional;
  @extend %e2Pagination !optional;
  @extend %e2NestedTab !optional;
  @extend %e2BackToTop !optional;
  @extend %e2HelpButton !optional;
  @extend %e2ProductTile !optional;
  @extend %e2CartItem !optional;
  @include scrollbar;
  .demo-nav {
    cursor: pointer;
    position: fixed;
    height: fit-content;
    border-radius: 10px;
    background-color: $color-white;
    width: 305px;
    z-index: 30;
    padding: 30px 0 15px;
    h1 {
      padding: 0 25px;
    }
    ul {
      padding: 0;
      overflow-y: auto;
      list-style: none;
      li {
        font-size: 16px;
        color: $color-octonary;
        padding: 15px 45px;
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
          color: $color-secondary;
          position: relative;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 8px;
            height: 100%;
            border-radius: 0 8px 8px 0;
            background-color: $color-secondary;
          }
        }
      }
    }
    .desktopToggle {
      float: right;
    }
    @include breakpoint(md-min) {
      left: 0;
      cursor: pointer;
      transform: translateX(-80%);
      background-color: rgba($color-white, 0.2);
      &,
      * {
        transition: transform 0.5s ease-in-out, background 0.3s ease-in-out;
      }
      ul {
        pointer-events: none;
        overflow: hidden;
      }
      &:hover {
        background-color: rgba($color-white, 1);
        transform: unset;
        ul {
          pointer-events: all;
          overflow: auto;
        }
        h1 {
          transform: unset;
          .desktopToggle {
            transform: rotate(180deg);
          }
        }
      }
    }
  }
  .demo-content {
    // margin-left: 315px;
    // width: calc(100% - 315px);
    width: fit-content;
    border-radius: 10px;
    background-color: $color-white;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 20px 20px;
    > * {
      min-width: fit-content;
      width: 100%;
      margin: 0 0 30px 0;
      position: relative;
      padding-top: 30px;
      &[tag]::before {
        content: attr(tag);
        text-transform: capitalize;
        position: absolute;
        top: -10px;
        left: 0;
        width: 100%;
        background-color: $color-secondary;
        color: $color-white;
        padding: 5px;
      }
    }
  }
  @include breakpoint(md-max) {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    e2-breadcrumb {
      display: none;
    }
    .demo-nav {
      position: sticky;
      margin: 0 0 20px;
      padding: 15px 0;
      z-index: 10;
      float: unset;
      width: calc(100vw - calc(100vw - 100%));
      box-shadow: 0px 2px 4px $color-octonary;
      &::after {
        content: '^';
        transform: rotate(180deg) translate(0, -25%);
        position: absolute;
        color: $color-octonary;
        font-size: 30px;
        right: 25px;
        top: 0;
        height: fit-content;
        margin: auto;
      }
      &.show {
        border-radius: 10px 10px 0 0;
        > ul {
          display: block;
          height: auto;
          border-radius: 0 0 10px 10px;
          box-shadow: -2px 2px 4px -2px $color-octonary,
            2px 2px 4px -2px $color-octonary;
        }
      }
      ul {
        user-select: none;
        height: 0;
        margin: 0;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: $color-white;
      }
    }
    .demo-content {
      width: 100%;
    }
    @include breakpoint(xs-max) {
      > * {
        border-radius: unset;
        padding-left: 20px;
        padding-right: 20px;
      }
      .demo-content {
        margin: 15px 0 0;
        padding: unset;
        > * {
          padding-left: 20px;
          padding-right: 20px;
        }
      }
    }
  }
  [tag='text group'] {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    border-bottom: 1px solid;
  }
  [tag='color group'] {
    position: relative;
    max-width: calc(80px * 13);
    display: flex;
    flex-wrap: wrap;
    > div {
      max-width: 80px;
      width: 80px;
      margin: 0 20px 48px 0;
      position: relative;
      &::before {
        content: '';
        padding-top: 100%;
        display: block;
        box-shadow: 2px 2px 8px $color-octonary;
      }
      span {
        position: absolute;
        top: 88px;
      }
      &::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        height: fit-content;
        width: fit-content;
        text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
        color: white;
      }
      &.primary {
        background-color: $color-primary;
        &:after {
          content: '#1e388c';
        }
      }
      &.secondary {
        background-color: $color-secondary;
        &:after {
          content: '#3f5ab5';
        }
      }
      &.tertiary {
        background-color: $color-tertiary;
        &:after {
          content: '#3fa7f3';
        }
      }
      &.quaternary {
        background-color: $color-quaternary;
        &:after {
          content: '#f85a5a';
        }
      }
      &.quinary {
        background-color: $color-quinary;
        &:after {
          content: '#f58626';
        }
      }
      &.senary {
        background-color: $color-senary;
        &:after {
          content: '#ffc400';
        }
      }
      &.septenary {
        background-color: $color-septenary;
        &:after {
          content: '#e6e7e8';
        }
      }
      &.octonary {
        background-color: $color-octonary;
        &:after {
          content: '#9b9b9b';
        }
      }
      &.nonary {
        background-color: $color-nonary;
        &:after {
          content: '#3e3e3e';
        }
      }
      &.denary {
        background-color: $color-denary;
        &:after {
          content: '#e0f2fd';
        }
      }
      &.secondary-light {
        background-color: $color-secondary-light;
        &:after {
          content: '#158fe9';
        }
      }
      &.tertiary-blue {
        background-color: $color-tertiary-blue;
        &:after {
          content: '#bfe4ff';
        }
      }
      &.tertiary-light {
        background-color: $color-tertiary-light;
        &:after {
          content: '#e7f5ff';
        }
      }
      &.septenary-light {
        background-color: $color-septenary-light;
        &:after {
          content: '#f5f5f5';
        }
      }
      &.octonary-light {
        background-color: $color-octonary-light;
        &:after {
          content: '#e1e1e1';
        }
      }
      &.quaternary-dark {
        background-color: $color-quaternary-dark;
        &:after {
          content: '#fd2500';
        }
      }
      &.quinary-dark {
        background-color: $color-quinary-dark;
        &:after {
          content: '#e77129';
        }
      }
      &.senary-dark {
        background-color: $color-senary-dark;
        &:after {
          content: '#f1b900';
        }
      }
      &.purple {
        background-color: $color-purple;
        &:after {
          content: '#afbdea';
        }
      }
      &.quinary-light {
        background-color: $color-quinary-light;
        &:after {
          content: '#f09f54';
        }
      }
      &.white {
        background-color: $color-white;
        &:after {
          content: '#ffffff';
        }
      }
      &.brown {
        background-color: $color-brown;
        &:after {
          content: '#6e4322';
        }
      }
      &.black {
        background-color: $color-black;
        &:after {
          content: '#000000';
        }
      }
      &.silver {
        background-color: $color-silver;
        &:after {
          content: ' #c7c7c7 ';
        }
      }
      &.midnight-blue {
        background-color: $color-midnight-blue;
        &:after {
          content: ' #001761 ';
        }
      }
      &.bay-of-many {
        background-color: $color-bay-of-many;
        &:after {
          content: ' #292d84 ';
        }
      }
      &.concrete {
        background-color: $color-concrete;
        &:after {
          content: ' #f2f2f2 ';
        }
      }
      &.catskill-white {
        background-color: $color-catskill-white;
        &:after {
          content: ' #f0f3f7 ';
        }
      }
      &.dove-gray {
        background-color: $color-dove-gray;
        &:after {
          content: ' #737373 ';
        }
      }
      &.alabaster {
        background-color: $color-alabaster;
        &:after {
          content: ' #fcfcfc ';
        }
      }
    }
  }
  [tag='btn group'] {
    display: flex;
    flex-wrap: wrap;
    > * {
      padding: 25px 0 0;
      margin: 0 20px 0 0;
      position: relative;
      width: fit-content;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      > * {
        margin: 0 20px 20px 0;
      }
      > span {
        width: fit-content;
        position: absolute;
        margin: 0 10px 10px;
        top: 0;
        left: 0;
      }
    }
  }
  [tag='input-number group'] form,
  [tag='input-text group'],
  [tag='input-btn group'],
  [tag='nav-control group'],
  [tag='select-option group'] form > * {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > * {
      margin: 0 20px 20px 0;
    }
  }
  [tag='dropdown group'] {
    display: flex;
    flex-wrap: wrap;
    > * {
      margin: 0 20px 40px 0;
    }
  }
  [tag='input-number group'] {
    margin-bottom: 50px !important;
    form {
      position: relative;
      .form-group {
        width: fit-content;
      }
    }
  }
  @include breakpoint(xs-max) {
    [tag='dropdown group'],
    [tag='nav-control group'] {
      max-width: 100vw;
      > * {
        margin: 0 0 30px 0;
        &:last-child {
          margin: 0 0 15px 0;
        }
      }
    }
    [tag='select-option group'] > * {
      > * {
        &:last-child {
          margin: 0;
        }
      }
    }
  }
  [tag='slider group'] {
    padding: 10px 20px 0 !important;
  }
  [tag='product-tile group'],
  [tag='cart-item group'] {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: $color-septenary;
    padding: 30px 0 0 10px;
    > * {
      margin: 0 10px 10px 0;
    }
  }
}
