@import '../general';

.e2ErrorPageTemplate {
  .mainContainer {
    background-color: $color-white;
    border-radius: 10px;
    padding: 62px 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  
    .errorVisualBox {
      margin: 0px auto;
      .errorImg {
        margin: 0px auto;
      }
    }

    .errorMsgBox {
      .title {
        font-size: 32px;
        font-weight: 900;
        color: $color-primary;
      }
      .msgContent {
        padding-top: 15px;
        padding-bottom: 20px;
        color: $color-primary;
      }
      .msgHelpBox {
        width: 440px;
        background-color: $color-concrete;
        padding: 25px;
        border-radius: 10px;
        .msgText {
          padding-top: 20px;
          font-size: 14px;
          font-weight: normal;
          color: $base-color-font;
        }
        .msgIconBox {
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          padding-top: 30px;
          .msgText {
            font-size: 14px;
            color: $color-nonary;
            font-weight: 500;
          }
          .iconText {
            .helpfulLinks {
              margin-bottom: 10px;
            }
            font-size: 14px;
            color: $color-tertiary;
            font-weight: 500;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }

  @include breakpoint(md-max) {
    .mainContainer {
      padding: 46px 20px 20px 20px;
      display: flex;
      flex-direction: column;

      .errorVisualBox {
        padding: 0px 0px 10px 0px;
        max-width: 300px;
        .errorImg {
          margin: 0px auto;
        }
      }

      .errorMsgBox {
        width: 100%;
        .title {
          padding-top: 15px;
          font-size: 28px;
        }
        .msgHelpBox {
          width: 100%;
          padding: 20px 15px;
          .msgIconBox {
            padding-top: 20px;
          }
        }
      }
    }
  }
}
