@import '../general';

.e2FaqPageTemplate {
  @extend %e2FaqContent !optional;
  @extend %e2ShoppingGuideMenu !optional;
}
@include breakpoint(md-max) {
  body {
    header {
      .headerNavigation {
        display: none;
      }
    }
  }
}
