@import '../general';

.e2HomePageTemplate {
  @extend %e2QuickLink !optional;
  @extend %e2MainBanner !optional;
  @extend %e2ProductPreviewCarousel !optional;
  @extend %e2MiniBanner !optional;
  @extend %e2BrandCarousel !optional;
  @extend %e2BundlePrice !optional;
  @extend %e2ProductCarousel !optional;
  @extend %e2SuperBrandPromotion !optional;
  @extend %e2ProductCategory !optional;
  @extend %e2FloatButton !optional;
  @extend %e2PopupReminder !optional;

  padding-top: 0 !important;
  .QuickLink,
  .ProductPreview,
  .PromotionMiniBanner,
  .BrandPromotion,
  .BundlePrice,
  .ProductCarousel,
  .SuperBrandPromotion,
  .ProductCategory {
    margin-bottom: 30px;
  }
  @include breakpoint(md-max) {
    padding-left: 10px;
    padding-right: 10px;
    .QuickLink {
      margin-bottom: 25px;
    }
    .ProductPreview {
      margin-bottom: 15px;
    }
    .PromotionMiniBanner,
    .BrandPromotion,
    .BundlePrice,
    .ProductCarousel,
    .SuperBrandPromotion,
    .ProductCategory {
      margin-bottom: 35px;
    }
  }
  @include breakpoint(sm-max) {
    .HomeTopBanner {
      display: none;
    }
    .ProductPreview {
      margin-bottom: 10px;
    }
    .PromotionMiniBanner,
    .BrandPromotion,
    .BundlePrice,
    .ProductCarousel,
    .SuperBrandPromotion,
    .ProductCategory {
      margin-bottom: 20px;
    }
  }
}
