@import '../general';

.e2MaintenancePageTemplate {
  .mainContainer {
    background-color: $color-white;
    border-radius: 10px;
    padding: 62px 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  
    .maintenanceVisualBox {
      max-width: 500px;
      margin: 0px auto;
      .maintenanceImg {
        margin: 0px auto;
      }
    }

    .msgBox {
      margin-left: 20px;
      .title {
        font-size: 32px;
        font-weight: 900;
        color: $color-primary;
      }
      .titleEN {
        padding-top: 5px;
        font-size: 28px;
        line-height: 30px;
        font-weight: 900;
        color: $color-primary;
      }
      .msgContent {
        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 20px;
        line-height: 22px;
        color: $color-primary;
      }
      .msgDiscountBox {
        max-width: 440px;
        background-color: $color-concrete;
        padding: 25px;
        border-radius: 10px;
        line-height: 20px;
        .msgText {
          padding-top: 20px;
          font-size: 14px;
          font-weight: normal;
          color: $base-color-font;
        }
        .msgTextEN {
          padding-top: 7px;
        }
        .colorBlue {
          color: $color-tertiary;
        }
        .btn {
          margin-top: 11px;
        }
        .discountCode {
          padding: 10px 0px;
        }
        .remarks {
          font-size: 12px;
          color: #999999;
        }
      }
    }
  }

  @include breakpoint(md-max) {
    .mainContainer {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .maintenanceVisualBox {
        padding: 0px 0px 15px 0px;
        max-width: 342px;
      }

      .msgBox {
        margin: 0px;
        width: 100%;
        .title {
          padding-top: 15px;
          font-size: 28px;
        }
        .titleEN {
          padding-top: 5px;
          font-size: 24px;
        }
        .msgDiscountBox {
          max-width: 100%;
        }
      }
    }
  }
}
