@import '../general';

.e2PromotionMultipleBrandPageTemplate {
  @extend %w2PromotionBrandBackground !optional;
  @extend %e2PromotionBrandHeaderBanner !optional;
  @extend %e2ProductCategory !optional;
  @extend %e2MiniBanner !optional;
  @extend %e2BundlePrice !optional;
  @extend %e2ProductCarousel !optional;

  padding-top: 30px;
  .PromotionBrandHeaderBanner {
    margin: 10px;
  }
  .ProductCategory {
    width: fit-content;
    max-width: 100%;
    margin: 0 auto 40px;
    e2-product-category {
      swiper {
        .swiper-wrapper {
          .swiper-slide {
            gap: 10px;
            .category {
              width: 147px;
              &:last-of-type {
                margin-right: 5px;
              }
              .category-image {
                height: 170px;
              }
              .category-name {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  .PromotionMiniBanner {
    margin-bottom: 30px;
    e2-mini-banner {
      .swiper-box {
        swiper {
          .swiper-wrapper {
            .swiper-slide {
              width: 585px;
            }
          }
        }
      }
    }
  }
  .BundlePrice {
    margin-bottom: 30px;
    e2-bundle-price {
      .group-header {
        display: none;
      }
      .bundle-group {
        swiper {
          .swiper-wrapper {
            .swiper-slide {
              margin-left: 2px;
            }
          }
        }
      }
    }
  }
  .ProductCarousel {
    e2-product-carousel {
      e2-product-swiper {
        background-color: $color-white;
        border-radius: 10px;
        padding: 35px 20px 40px;
        e2-product-tile {
          .productContainer {
            padding: 10px 2px;
            &:hover {
              box-shadow: none;
            }
          }
        }
      }
    }
  }
  @include breakpoint(md-max) {
    .ProductCategory {
      margin-bottom: 30px;
    }
    .PromotionMiniBanner {
      e2-mini-banner {
        .swiper-box {
          swiper {
            margin: 0;
            padding: 0;
            .swiper-wrapper {
              .swiper-slide {
                width: 494px;
              }
            }
          }
        }
      }
    }
  }
  @include breakpoint(sm-max) {
    .ProductCategory {
      margin-bottom: 20px;
      e2-product-category {
        display: flex;
        justify-content: center;
        swiper {
          margin: 0 calc(-50vw + 50%);
          padding: 0 calc(50vw - 50%);
          width: fit-content;
          .swiper-wrapper {
            .swiper-slide {
              min-width: unset;
              gap: 5px;
              flex-direction: row;
              width: fit-content !important;
              .category {
                width: 86px;
                min-width: unset;
                &::before {
                  padding-top: 120%;
                }
                &:last-of-type {
                  margin-right: unset;
                }
                .category-image {
                  height: 100px;
                }
              }
            }
          }
        }
      }
    }
    .PromotionMiniBanner {
      e2-mini-banner {
        .swiper-box {
          swiper {
            .swiper-wrapper {
              flex-direction: column;
              transform: none !important;
              gap: 10px;
              margin: auto;
              .swiper-slide {
                width: 100%;
              }
            }
          }
        }
      }
    }
    .ProductCarousel {
      margin: 0 calc(-50vw + 50%);
      e2-product-carousel {
        e2-product-swiper {
          border-radius: 0 !important;
          .group-header {
            .header-row {
              .page-btn {
                background-color: $color-white;
                gap: 25px;
                width: 100%;
                .pageNumber {
                  font-size: 16px;
                  font-weight: bold;
                }
                button {
                  font-size: 12px;
                }
              }
            }
          }
          .swiper-box {
            swiper {
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
