@import '../general';

.e2PromotionSingleBrandPageTemplate {
  @extend %e2PromotionPlpHeaderBanner !optional;
  @extend %e2PlpWarning !optional;
  @extend %e2ProductFacetNavigation !optional;
  @extend %e2ProductList !optional;

  .PromotionPLPHeaderBanner {
    margin: -50px 0 20px;
  }
  .PLPWarning {
    margin-bottom: 15px;
  }
  .PLPHeaderTitle {
    margin-bottom: 20px;
  }
  .ProductRefinement,
  .ProductCarousel {
    margin-bottom: 30px;
  }
  .ProductRefinement {
    e2-product-facet-navigation {
      .navigation-container {
        .tab-nav {
          padding: 0 10px;
        }
      }
    }
  }
}
