@import '../general';

.e2ProductListPageTemplate {
  @extend %E2PlpHeaderTitle !optional;
  @extend %e2PlpHeaderBanner !optional;
  @extend %e2PlpWarning !optional;
  @extend %e2ProductFacetNavigation !optional;
  @extend %e2ProductList !optional;
  @extend %e2BrandCarousel !optional;
  @extend %e2BrandListCarousel !optional;
  @extend %e2ProductCarousel !optional;

  padding-top: 0;
  .hidden {
    pointer-events: none;
    > * {
      visibility: hidden;
    }
  }
  .Breadcrumb {
    width: 100vw;
    background-color: $color-white;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
  }
  .PLPHeaderTitle {
    width: 100vw;
    background-color: $color-white;
    margin: 0 calc(-50vw + 50%);
    padding: 0 calc(50vw - 50%);
  }
  .PLPHeaderBanner {
    margin: -20px 0 15px;
  }
  .PLPWarning {
    margin-bottom: 15px;
  }
  .PLPHeaderTitle {
    margin-bottom: 20px;
  }
  .BrandCarousel {
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    margin-bottom: 30px;
  }
  .ProductRefinement,
  .ProductCarousel {
    margin-bottom: 30px;
  }
  @include breakpoint(sm-max) {
    .ProductCarousel {
      e2-product-carousel {
        e2-product-swiper {
          .swiper-box {
            swiper {
              .swiper-wrapper {
                flex-wrap: wrap;
                .swiper-slide {
                  height: fit-content;
                }
              }
            }
          }
        }
      }
    }
  }
}
