@import '../general';

.e2ProductDetailsPageTemplate {
  @extend %e2ProductImages !optional;
  @extend %e2ProductSummary !optional;
  @extend %e2PdpTabControll !optional;
  @extend %e2ProductPromotion !optional;
  @extend %e2ProductCombotile !optional;
  @extend %e2RelatedProduct !optional;
  @extend %e2ProductDescription !optional;
  @extend %e2ProductHowToUse !optional;
  @extend %e2ProductTermsAndConditions !optional;
  @extend %e2ProductReviews !optional;
  @extend %e2ProductCarousel !optional;

  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
  .Breadcrumb {
    width: 100vw;
    background-color: $color-white;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
    padding-right: calc(50vw - 50%);
  }
  .ProductImages,
  .ProductSummary {
    width: 50vw;
    background-color: $color-white;
    padding-bottom: 30px;
  }
  .ProductImages {
    margin-left: calc(-50vw + 50%);
    padding-left: calc(50vw - 50%);
  }
  .ProductSummary {
    margin-right: calc(-50vw + 50%);
    padding-right: calc(50vw - 50%);
  }
  .ProductTabs {
    width: 100%;
    margin-bottom: 25px;
    position: sticky;
    z-index: 3;
    background: #f5f5f5;
    transition: all 0.2s ease-in-out;
  }
  .ProductRelated {
    position: sticky;
    height: fit-content;
    top: 75px;
    right: 50px;
    padding-bottom: 25px;
    width: 380px;
    margin-left: calc(100% - 380px);
    @include breakpoint(lg-max) {
      right: 20px;
    }
    @include breakpoint(md-max) {
      right: 15px;
    }
  }
  .ProductPromotion,
  .ProductDescription,
  .ProductHowToUse,
  .ProductTNC,
  .ProductReviews {
    margin-bottom: 25px;
    margin-right: 390px;
    width: calc(100% - 390px);
  }
  .ProductDescription {
    margin-bottom: 30px;
  }
  .ProductCarousel {
    width: 100%;
    margin-bottom: 25px;
  }
  @include breakpoint(md-max) {
    .ProductTabs {
      margin-bottom: 36px;
    }
    .ProductRelated {
      width: 300px;
      margin-left: calc(100% - 300px);
    }
    .ProductPromotion,
    .ProductDescription,
    .ProductHowToUse,
    .ProductTNC,
    .ProductReviews {
      margin-right: 310px;
      width: calc(100% - 310px);
    }
  }
  @include breakpoint(sm-max) {
    .Breadcrumb {
      e2-breadcrumb {
        display: block;
      }
    }
    .ProductImages,
    .ProductSummary {
      width: 100vw;
      margin-left: calc(-50vw + 50%);
      margin-right: calc(-50vw + 50%);
      padding-left: calc(50vw - 50%);
      padding-right: calc(50vw - 50%);
    }
    .ProductTabs {
      margin-bottom: 15px;
    }
    .ProductRelated {
      width: 100%;
      order: 2;
      position: unset;
      margin-left: unset;
      padding-bottom: unset;
    }
    .ProductPromotion,
    .ProductDescription,
    .ProductHowToUse,
    .ProductTNC,
    .ProductReviews {
      width: 100%;
      order: 1;
      margin-right: 0;
    }
    .ProductCarousel {
      order: 3;
      margin-bottom: 20px;
    }
  }
}
