<div class="deliveryMethod">
  <a (click)="openModal(deliveryMethodModal, 'delivery-method-modal')">
    <div class="delivery-content">
      <ng-container *ngIf="pickedDelivery == 'hd'">
        <i class="icon-delivery"></i>
        <span class="text">Home Delivery</span>
      </ng-container>
      <ng-container *ngIf="pickedDelivery == 'cnc'">
        <i class="icon-cnc"></i>
        <div class="text">
          <span>Collect at</span>
          <span>{{ deliveryAddress }}</span>
        </div>
      </ng-container>
    </div>
    <i class="icon-down"></i>
  </a>
</div>

<ng-template #deliveryMethodModal let-dismiss="dismiss">
  <div class="modal-header">
    <div class="delivery-header" [ngClass]="['step' + step]">
      <div class="title" *ngIf="step == 0">Delivery Method</div>
      <div class="select-box">
        <div *ngFor="let item of items" class="select" [class.active]="item.value == activeVal"
             (click)="activeVal = item.value">
          <img *ngIf="step == 0" src="{{ item.img + (item.value == activeVal?'active':'inactive') + '.png' }}" alt="" />
          <i *ngIf="step != 0" class="icon-{{ item.icon }}"></i>
          {{ item.name }}
        </div>
      </div>
      <div class="btn btn-primary-sm" *ngIf="step == 0" (click)="step = 1">
        Apply
      </div>
    </div>
  </div>
  <div class="modal-body" *ngIf="step != 0">
    <div class="hedaer">
      <div class="banner">
        <ng-container *ngFor="let item of items">
          <img [class.hide]="item.value != activeVal" src="{{ item.banner }}" alt="" />
        </ng-container>
      </div>
      <div class="msg-group">
        <div class="msg" *ngIf="!signedIn && step == 1 && activeVal == 'hd'">
          <span>
            Due to varying product avaliability in different district, please
            select.
          </span>
        </div>
        <div class="msg" *ngIf="(signedIn || step == 2) && activeVal == 'hd'">
          <span class="orange">$600 Free Delivery</span>
          <span>Order today, get it by tomorrow the earliest</span>
        </div>
        <div class="msg" *ngIf="activeVal == 'cnc'">
          <span class="orange">Available for orders above $150</span>
          <span>105 stores to choose</span>
        </div>
      </div>
<!--      <e2-store-finder *ngIf="!signedIn && step == 1 && activeVal == 'hd'" [onlyDropdown]="true" [float]="true">-->
<!--      </e2-store-finder>-->
      <div class="btn btn-primary-sm" *ngIf="step == 1 && !signedIn && activeVal == 'hd'" (click)="step = 2">
        Confirm
      </div>
    </div>
    <div *ngIf="(signedIn || step == 2) && activeVal == 'hd'" class="hd">
<!--      <e2-account-address-book [needEdit]="false"></e2-account-address-book>-->
    </div>
<!--    <e2-store-finder *ngIf="activeVal == 'cnc'" class="cnc" (storeAddress)="pickStoreAddress($event)" [float]="true">-->
<!--    </e2-store-finder>-->
  </div>
  <div class="modal-footer" *ngIf="step != 0">
    <div class="non-member" *ngIf="step == 1 && !signedIn && activeVal == 'hd'">
      <a [routerLink]="['/login']" class="btn btn-primary" (click)="dismiss()">
        Login
      </a>
      <span>
        Don’t have an account?
        <a [routerLink]="['/register/main']" (click)="dismiss()"> Signup </a>
      </span>
    </div>
    <div class="member" *ngIf="signedIn || step == 2 || activeVal == 'cnc'">
      <div class="alert-msg">
        <i class="icon-warning"></i>
        <span>Your cart will be updated if you change your delivery method or
          pickup store.</span>
      </div>
      <div class="btn-group">
        <div class="btn btn-secondary-sm" (click)="dismiss()">Close</div>
        <div class="btn btn-primary-sm" (click)="confirmDelivery(); dismiss()">
          Confirm
        </div>
      </div>
    </div>
  </div>
</ng-template>
