%ngbModal {
  // modal defalut
  &.modal-open {
    overflow: hidden;
  }
  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-black, 0.7);
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999 !important;
    display: none;
    width: 100%;
    height: 100%;
    overflow: auto;
    outline: 0;
  }
  .modal-dialog {
    max-width: 730px;
    width: 100%;
    margin: 28px auto;
    pointer-events: none;
  }
  .modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 56px);
  }
  .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $color-white;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    outline: 0;
  }
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    padding: 16px;
    .btn-close {
      cursor: pointer;
      font-size: 20px;
    }
  }
  .modal-body {
    padding: 16px;
    overflow: auto;
    flex-grow: 1;
  }
  .modal-footer {
    padding: 16px;
  }
  @include breakpoint(sm-max) {
    .modal-dialog {
      max-width: unset !important;
      margin: 0;
      width: 100% !important;
      height: 100%;
      .modal-content {
        min-width: unset !important;
        width: 100% !important;
        height: 100%;
        border: none;
        border-radius: unset;
      }
    }
  }
}
