%ngxSlider {
  ngx-slider {
    color: red;
    &.ngx-slider {
      .ngx-slider-pointer {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: $color-septenary;
        background-color: $color-white;
        font-size: 12px;
        position: absolute;
        border-radius: 100%;
        box-shadow: 0 2px 4px 0 rgba($color-primary, 0.15);
        &::after {
          content: '|||';
          top: 0%;
          transform: translate(0, 110%);
          background-color: unset;
        }
      }
      .ngx-slider-bubble {
        display: none;
      }
      .ngx-slider-bar {
        height: 8px;
        border-radius: 7.5px;
        background-color: $color-white;
        border: solid 2px $color-septenary;
      }
      .ngx-slider-selection {
        background-color: $color-senary;
      }
    }
  }
}
