%ngxPerfectScrollbar {
  perfect-scrollbar {
    > .ps {
      > .ps__rail-y {
        background-color: rgba($color-silver, 0.3);
        width: 3px !important;
        &:hover {
          background-color: rgba($color-silver, 0.3) !important;
        }
        .ps__thumb-y {
          background-color: $color-silver;
          width: 3px;
          transform: translateX(2px);
        }
      }
    }
  }
}
