<div class="footerPSPAwards">
  <a class="footerPSPAward">
    <img src="./assets/img/share/award_friendly.png" alt="icon" />
  </a>
  <a class="footerPSPAward">
    <img src="./assets/img/share/award_eshop.png" alt="icon" />
  </a>
  <a class="footerPSPAward">
    <img src="./assets/img/share/award_180love.png" alt="icon" />
  </a>
</div>
<div class="footerPSPPayments">
  <a class="footerPSPPayment">
    <span><img src="./assets/img/share/payment_visa_BW.png" alt="icon" /></span>
    <span><img src="./assets/img/share/payment_mastercard_BW.png" alt="icon"/></span>
    <span><img src="./assets/img/share/payment_payme_BW.png" alt="icon" /></span>
    <span ><img src="./assets/img/share/payment_octopus_BW.png" alt="icon"/></span>
    <span><img src="./assets/img/share/payment_alipay_BW.png" alt="icon" /></span>
    <span><img src="./assets/img/share/payment_verifiedvisa_BW.png" alt="icon"/></span>
    <span><img src="./assets/img/share/payment_mastercardSC_BW.png" alt="icon"/></span>
    <span><img src="./assets/img/share/payment_versignsercured_BW.png" alt="icon"/></span>
    <span><img src="./assets/img/share/payment_visacheckout_BW.png" alt="icon"/></span>
    <span><img src="./assets/img/share/payment_AEsafekey_BW.png" alt="icon"/></span>
    <span><img src="./assets/img/share/payment_masterpass_BW.png" alt="icon"/></span>
  </a>
</div>


