%e2ItemCounter {
  e2-item-counter {
    .unavailableMsg,
    .errorMsg {
      display: none;
    }
    .input-number {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .input-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
        height: 40px;
        align-items: center;
        user-select: none;
        border-radius: 20px;
        border: solid 1px $color-septenary;
        color: $color-octonary;
        background-color: $color-white;
        min-width: 105px;
        width: fit-content;
        font-weight: bold;
      }
      &.disabled {
        .input-container {
          border-color: $color-quaternary;
        }
        .errorMsg {
          font-weight: normal;
          color: $color-quaternary;
          display: block;
          position: absolute;
          width: max-content;
          bottom: -20px;
          right: 50%;
          transform: translate(50%, 0);
          @include breakpoint(md-max) {
            bottom: -25px;
            left: 0;
            right: unset;
            transform: unset;
            font-size: 12px;
          }
        }
      }
      &.unavailable {
        .unavailableMsg {
          display: block;
          position: absolute;
          z-index: 1;
          left: 50%;
          bottom: 0;
          font-size: 12px;
          text-align: center;
          width: 150px;
          padding: 10px;
          transform: translate(-50%, 112.5%);
          color: $color-white;
          background-color: $color-nonary;
          border: 1px solid $color-nonary;
          border-radius: 5px;
          &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            top: -10px;
            margin: auto;
            width: 0px;
            height: 0px;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $color-nonary;
            border-left: 10px solid transparent;
          }
        }
      }
      &.noEdit {
        button,
        i {
          pointer-events: none;
          opacity: 0;
        }
      }
      .input-val {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        height: unset;
        font-size: 16px;
        text-align: center;
        outline: none;
        border: none;
        width: 100%;
      }
      .minus,
      .plus {
        cursor: pointer;
        color: $color-secondary;
        &.disabled {
          color: #1d378b;
          opacity: 0.1;
        }
      }
    }
  }
}
