<ng-container *ngFor="let data of data$; let i = index">
  <e2-header-navigation-tab 
    [componentData]= "data" 
    [isNavOpen]= "setNavOpen(data?.link)"
    [isSelected]= "setSelected(data?.link)" 
  >
  </e2-header-navigation-tab>
</ng-container>
