%e2AddToCart {
  e2-add-to-cart {
    @extend %e2ItemCounter !optional;
    .btn {
      &.btn-notify-me {
        height: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        background: $color-septenary-light;
        border: 1px solid $color-septenary-light;
        color: $color-nonary;
        &.noticed,
        &:hover {
          background: $color-tertiary;
          border-color: $color-tertiary;
          color: $color-white;
        }
        i {
          font-size: 18px;
          margin: 0 5px;
        }
      }
    }
    e2-item-counter {
      .input-number {
        .input-container {
          height: 30px;
          padding: 0 20px !important;
        }
      }
    }
  }
}
