%e2CartItem {
  e2-cart-item {
    width: 100%;
    .itemTable {
      min-width: 680px;
      background-color: $color-white;
      border-radius: 10px;
      padding: 0 0 15px;
      &.addOnOffer {
        .itemList {
          padding: 0 15px 0 10px;
          .item {
            min-height: 115px;
            padding: 5px 0;
            .productImage {
              min-width: 110px;
              max-width: 110px;
              height: 110px;
              margin-right: 30px;
            }
            .productInfo {
              height: 90px;
              .productPrice {
                top: 80px;
              }
            }
          }
        }
      }
      .itemTable-header {
        font-size: 16px;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $color-septenary;
        padding: 10px 18px;
        &:empty {
          display: none;
        }
        .action {
          padding-left: 7px;
          color: $color-primary;
        }
        .company {
          color: $color-nonary;
          font-weight: normal;
        }
        .freeDelivery {
          color: #69b917;
        }
        .deliveryDetails {
          font-size: 14px;
          font-weight: normal;
          color: $color-tertiary;
          text-align: right;
          a {
            white-space: nowrap;
            text-decoration: none;
          }
        }
      }
      .promotion {
        display: flex;
        justify-content: center;
        padding: 15px;
        border-bottom: 1px dashed $color-septenary;
        e2-media,
        img {
          width: 100%;
        }
      }
      .remark {
        padding: 10px 25px;
        background-color: #fbfbfb;
        color: $color-octonary;
        border-bottom: 1px solid $color-septenary;
      }
      .itemList {
        padding: 0 15px 0 20px;
      }
      .item {
        display: flex;
        min-height: 140px;
        padding: 20px 0;
        align-items: center;
        border-bottom: 1px dashed $color-septenary;
        &.extendDonateFood {
          padding: 20px 0 60px 0;
        }
        &.oos {
          > * {
            opacity: 0.6;
          }
          &:hover {
            .totalProductPrice {
              opacity: 1;
              .freeGift {
                display: none;
              }
              .btn-notify-me {
                display: block;
              }
            }
          }
        }
        .productImage {
          min-width: 120px;
          max-width: 120px;
          height: 120px;
          margin-right: 20px;
        }
        .productInfo {
          font-size: 14px;
          position: relative;
          flex-grow: 1;
          width: 310px;
          height: 120px;
          .productName {
            max-width: 310px;
            width: 100%;
            font-size: 16px;
            font-weight: 500;
            color: $color-brown;
            margin: 0 0 5px 0;
            max-height: 20px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
          }
          .colorNumber {
            overflow: hidden;
            color: $color-octonary;
            margin: 0 0 10px 0;
            height: 17px;
          }
          .promotion-label-list {
            display: flex;
            .label {
              margin-right: 5px;
              border-radius: 11px;
              color: $color-quinary;
              background-color: $color-white;
              border: solid 1px $color-quinary;
              height: 20px;
              display: flex;
              align-items: center;
              font-size: 12px;
              padding: 0 7px 0 25px;
              &.active {
                color: $color-white;
                background-color: $color-quinary;
                position: relative;
                &::after {
                  content: '';
                  border: 2px solid;
                  border-left-color: transparent;
                  border-top-color: transparent;
                  border-radius: 2px;
                  width: 7.5px;
                  height: 15px;
                  transform: rotate(45deg) translate(25%, -25%);
                  position: absolute;
                  left: 5px;
                  top: -2.5px;
                  bottom: 0;
                  margin: auto;
                  color: #ffffff;
                }
              }
            }
          }
          .productPrice {
            position: absolute;
            top: 100px;
            left: 0;
            color: $color-nonary;
            display: flex;
            align-items: flex-end;
            > * {
              margin-right: 5px;
            }
            img {
              align-self: center;
              display: inline-block;
              width: 24px;
              height: 16px;
            }
            .originalPrice {
              font-size: 12px;
              color: $color-octonary;
              text-decoration: line-through;
            }
            .subText {
              position: absolute;
              left: 0;
              bottom: -15px;
              font-size: 12px;
              color: $color-quaternary-dark;
            }
            .isDiscount {
              color: $color-quaternary-dark;
            }
            .isMember {
              color: $color-tertiary;
            }
          }
        }
        .productQuantity {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          color: $color-octonary;
          margin-right: 15px;
          min-width: 120px;
          > span {
            font-weight: 500;
            font-size: 16px;
          }
          e2-item-counter {
            .input-container {
              padding: 0;
              height: 35px;
              max-width: 120px;
              min-width: 120px;
            }
          }
          .donateFood {
            position: absolute;
            top: 70px;
            left: 0;
            color: $color-tertiary;
            white-space: nowrap;
            display: flex;
            flex-direction: column;
            span {
              cursor: pointer;
              text-decoration: underline;
              margin-bottom: 5px;
            }
          }
        }
        .totalProductPrice {
          text-align: right;
          min-width: 100px;
          position: relative;
          font-size: 16px;
          font-weight: 500;
          .freeGift {
            position: relative;
            &:hover {
              .freeGiftMsg {
                display: block;
              }
            }
            .freeGiftMsg {
              display: none;
              text-align: left;
              position: absolute;
              z-index: 1;
              right: 25px;
              top: 50%;
              font-size: 12px;
              width: 540px;
              padding: 12px 14px;
              transform: translate(0, -50%);
              color: #ffffff;
              background-color: #3e3e3e;
              border: 1px solid #3e3e3e;
              border-radius: 5px;
              &::before {
                content: '';
                position: absolute;
                right: -8px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 0px;
                height: 0px;
                border-top: 8px solid transparent;
                border-left: 8px solid #3e3e3e;
                border-bottom: 8px solid transparent;
              }
            }
          }
          .btn-notify-me {
            display: none;
            position: absolute;
            height: fit-content;
            top: 0;
            bottom: 0;
            right: 10px;
            margin: auto;
            font-size: 14px;
            padding: 0;
            min-width: fit-content;
          }
        }
        .showAddOn {
          display: flex;
          justify-content: flex-end;
          e2-add-to-cart {
            e2-item-counter .input-container,
            .btn {
              min-width: 120px;
              max-width: 120px;
              min-height: 34px;
            }
          }
        }
      }
      @include breakpoint(md-max) {
        min-width: unset;
        &.cartItem {
          .itemTable-header {
            .showName {
              display: flex;
              flex-direction: column;
              .action {
                padding: 0;
                font-size: 12px;
              }
            }
          }
          .remark {
            display: none;
          }
          .itemList {
            .item {
              padding: 80px 0 15px;
              position: relative;
              &.oos {
                &:hover {
                  .totalProductPrice {
                    opacity: unset;
                    .freeGift {
                      display: block;
                    }
                  }
                }
                .totalProductPrice {
                  opacity: 1;
                  .freeGift {
                    opacity: 0.6;
                    pointer-events: none;
                  }
                  .btn-notify-me {
                    position: absolute;
                    top: -300px;
                    right: 0;
                    display: block;
                  }
                }
              }
              &.mobileExtend {
                padding: 80px 0 50px;
              }
              &.extendDonateFood {
                padding: 80px 0 80px;
              }
              &.mobileExtendExtra {
                &.extendDonateFood {
                  padding: 80px 0 110px;
                }
                padding: 80px 0;
                .productQuantity {
                  .donateFood {
                    top: 70px;
                  }
                }
              }
              .productImage {
                min-width: 100px;
                max-width: 100px;
                height: 100px;
                margin: 0 10px 5px 0;
              }
              .productInfo {
                position: absolute;
                top: 20px;
                .productName {
                  margin-bottom: 10px;
                }
                .colorNumber {
                  margin-bottom: 5px;
                }
                .promotion-label-list {
                  margin-left: 110px;
                  width: max-content;
                  .label {
                    transform: scale(0.833333333) translate(-10%, 0%);
                    margin-right: -10px;
                  }
                }
                .productPrice {
                  position: absolute;
                  top: 115px;
                  left: 110px;
                }
              }
              .productQuantity {
                align-self: flex-end;
                align-items: flex-start;
                e2-item-counter {
                  margin-bottom: -5px;
                  .input-container {
                    height: 30px;
                    max-width: 100px;
                    min-width: 100px;
                  }
                  @include breakpoint(md-max) {
                    .unavailableMsg {
                      width: max-content;
                      max-width: 250px;
                      transform: translate(-20%, 112.5%);
                      &::before {
                        left: 14.5%;
                        right: unset;
                      }
                    }
                  }
                }
                .donateFood {
                  top: 40px;
                }
              }
              .totalProductPrice {
                align-self: flex-end;
                flex-grow: 1;
                .freeGift {
                  .freeGiftMsg {
                    width: 260px;
                    top: -50px;
                    right: -8px;
                    &::before {
                      bottom: -8px;
                      right: 8px;
                      top: unset;
                      border-top: 8px solid #3e3e3e;
                      border-left: 8px solid transparent;
                      border-right: 8px solid transparent;
                      border-bottom: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
