<div class="swiper-box">
  <swiper [config]="config">
    <ng-template swiperSlide *ngFor="let slide of slides; index as i">
      <a>
        <e2-media
          class="banner"
          [container]="{
            url: slide,
            altText: 'bundle-image'
          }"
        ></e2-media>
      </a>
    </ng-template>
  </swiper>
</div>
