<div class="swiper-box">
  <swiper
    [config]="config"
    (touchMove)="toogleHide(true)"
    (transitionEnd)="toogleHide(false)"
  >
    <ng-template swiperSlide *ngFor="let slide of slides; index as i">
      <a class="banner">
        <e2-media
          [container]="{
            url: slide,
            altText: 'banner'
          }"
        ></e2-media>
      </a>
    </ng-template>
  </swiper>
  <button class="previous" [ngClass]="{ fade: fade }">
    <i class="icon-arrow-left"></i>
  </button>
  <button class="next" [ngClass]="{ fade: fade }">
    <i class="icon-arrow-right"></i>
  </button>
  <div class="indicators"></div>
</div>
