<div class="preview" *ngIf="previewList">
  <div class="preview-header">
    <div class="preview-title">{{ previewList.name }}</div>
    <a
      [routerLink]="['/plp/lv1/viewAll/c/1']"
      class="btn btn-secondary-sm view-all-btn"
      >View All</a
    >
  </div>
  <div class="preview-product-group">
    <div class="swiper-box">
      <swiper [config]="config">
        <ng-template
          swiperSlide
          *ngFor="let item of previewList.item; index as j"
        >
          <div class="preview-product">
            <a [routerLink]="['/pdp/p/1']" class="preview-image">
              <e2-media
                [container]="{
                  url: item.image,
                  altText: 'product-image'
                }"
              ></e2-media>
            </a>
            <div class="preview-price" [class.member]="item.isMember">
              <img
                *ngIf="item.isMember"
                src="assets/img/icon_moneyback.png"
                alt=""
              />
              <span>${{ item.currentPrice }}</span>
            </div>
            <div class="preview-controll-btn">
              <a class="btn btn-secondary-sm" [routerLink]="['/pdp/p/1']"
                >Detail</a
              >
              <e2-add-to-cart [stockStatus]="item.hasStock"></e2-add-to-cart>
              <e2-notify-me [stockStatus]="item.hasStock"></e2-notify-me>
            </div>
          </div>
        </ng-template>
      </swiper>
    </div>
  </div>
</div>
