<a class="link-item" *ngFor="let item of quicklinkItem; index as i">
  <div class="link-icon">
    <e2-media
      [container]="{
        url: item.logo,
        altText: 'quicklink'
      }"
    ></e2-media>
  </div>
  <div class="link-title">{{ item.name }}</div>
</a>
