@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-Black.woff2') format('truetype');
  font-weight: bolder;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-BlackItalic.woff2') format('truetype');
  font-weight: bolder;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-Bold.woff2') format('truetype');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-BoldItalic.woff2') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-Light.woff2') format('truetype');
  font-weight: lighter;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-LightItalic.woff2') format('truetype');
  font-weight: lighter;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-Italic.woff2') format('truetype');
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-Medium.woff2') format('truetype');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-MediumItalic.woff2') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('~/assets/font/Roboto-Regular.woff2') format('truetype');
  font-display: swap;
}
