@mixin breakpoint($point) {
  $xs: 600px;
  $sm: 768px;
  $md: 1024px;
  $lg: 1280px;
  $tablet-range: ($sm, $md);

  @if $point == 'xs-max' {
    @media (max-width: #{$xs}) {
      @content;
    }
  }
  @if $point == 'xs-min' {
    @media (min-width: #{$xs}) {
      @content;
    }
  }
  @if $point == 'sm-max' {
    @media (max-width: #{($sm - 1)}) {
      @content;
    }
  }
  @if $point == 'sm-min' {
    @media (min-width: #{$sm}) {
      @content;
    }
  }
  @if $point == 'md-max' {
    @media (max-width: #{$md}) {
      @content;
    }
  }
  @if $point == 'md-min' {
    @media (min-width: #{($md + 1)}) {
      @content;
    }
  }
  @if $point == 'lg-max' {
    @media (max-width: #{$lg}) {
      @content;
    }
  }
  @if $point == 'lg-min' {
    @media (min-width: #{$lg}) {
      @content;
    }
  }
  @if $point == 'tablet-range' {
    @media (min-width:#{lower-bound($tablet-range)}) and (max-width:#{upper-bound($tablet-range)}) {
      @content;
    }
  }
}
@mixin clearfix() {
  &:before,
  &:after {
    content: ' ';
    display: table;
    box-sizing: border-box;
  }
  &:after {
    clear: both;
  }
}

@mixin scrollbar {
  -webkit-overflow-scrolling: touch;
  &::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: transparent;
  }
  &::-webkit-scrollbar-track {
    width: 4px;
    background: $color-white;
    margin-right: 5px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $color-secondary;
    position: absolute;
  }
  &::-webkit-scrollbar-thumb:window-inactive {
    background: $color-secondary;
  }
}
