// Base
$base-border-radius: 4px !default;
$base-color-background: #f5f5f5 !default;
$base-color-font: #3e3e3e !default;
$base-font-family: 'Roboto', 'STHeiti', Verdana, Arial, 'Microsoft JhengHei',
  '微軟正黑體', '黑體-繁', '新細明體', sans-serif !default;
$base-font-size: 14px !default;
$base-font-weight: normal !default;
$base-icon-font-family: 'fontello' !default;
$base-letter-spacing: normal !default;
$base-line-height: normal !default;
$base-root-max-width: 1280px !default;
$base-root-min-width: 1024px !default;
$base-text-align: left !default;

// Font size
$base-h1: 30px !default;
$base-h2: 24px !default;
$base-h3: 18px !default;
$base-h4: 16px !default;
$base-h5: 14px !default;
$base-h6: 12px !default;

// Font size mobile
$base-h1-mb: 28px !default;
$base-h2-mb: 20px !default;

// Color
$color-primary: #1e388c;
$color-secondary: #3f5ab5;
$color-tertiary: #3fa7f3;
$color-quaternary: #f85a5a;
$color-quinary: #f58626;
$color-senary: #ffc400;
$color-septenary: #e6e7e8;
$color-octonary: #9b9b9b;
$color-nonary: #3e3e3e;
$color-denary: #e0f2fd;

//light
$color-secondary-light: #158fe9;
$color-tertiary-blue: #bfe4ff;
$color-tertiary-light: #e7f5ff;
$color-quinary-light: #f09f54;
$color-septenary-light: #f5f5f5;
$color-octonary-light: #e1e1e1;

// dark
$color-quaternary-dark: #fd2500;
$color-quinary-dark: #e77129;
$color-senary-dark: #f1b900;

//other
$color-purple: #afbdea;
$color-white: #ffffff;
$color-brown: #6e4322;
$color-black: #000000;
$color-silver: #c7c7c7;
$color-midnight-blue: #001761;
$color-bay-of-many: #292d84;
$color-concrete: #f2f2f2;
$color-catskill-white: #f0f3f7;
$color-dove-gray: #737373;
$color-alabaster: #fcfcfc;

// Global
$color-border: $color-septenary;
$color-placeholder: $color-octonary;
$box-shadow: 0 2px 6px rgba($color-octonary, 0.15);
$transition: all 0.2s ease-in-out;
