%e2BundlePrice {
  e2-bundle-price {
    @extend %e2ItemCounter !optional;
    .bundle-group {
      swiper {
        margin-left: 0;
        overflow: hidden;
        .swiper-wrapper {
          flex-flow: column wrap;
          width: 100%;
          height: 330px;
          .swiper-slide {
            height: 50%;
            width: calc(50% - 5px) !important;
          }
        }
      }
      .bundle-item {
        background-color: $color-white;
        height: 160px;
        border-radius: 10px;
        display: flex;
        padding: 20px;
        .bundle-image {
          flex: 1;
          max-width: 300px;
          width: 100%;
          margin-right: 25px;
          img {
            height: 100%;
            object-fit: contain;
          }
        }
        .bundle-content {
          flex: 1;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: space-between;
          .bundle-name {
            color: $color-brown;
            font-size: 20px;
            font-weight: 500;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
          }
          .bundle-add-cart-group {
            display: flex;
            flex-direction: column;
            .bundle-price {
              display: flex;
              align-items: flex-end;
              .currentPrice {
                font-size: 18px;
                font-weight: 500;
                color: $color-quaternary;
                margin-right: 5px;
              }
              .originalPrice {
                font-size: 12px;
                font-weight: 500;
                text-decoration: line-through;
                color: $color-octonary;
              }
            }
            e2-add-to-cart {
              margin-top: 10px;
              .input-container {
                max-width: 127px;
                min-width: 127px;
                height: 30px;
                padding: 0 15px;
              }
              .btn {
                width: fit-content;
                height: 30px;
                min-width: 127px;
              }
            }
          }
        }
      }
      @include breakpoint(md-max) {
        .bundle-item {
          padding: 10px;
          .bundle-image {
            flex: 1.2;
            max-width: 250px;
            margin-right: 10px;
          }
          .bundle-content {
            .bundle-name {
              font-size: 14px;
            }
            .bundle-add-cart-group {
              .bundle-price {
                .currentPrice {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
      @include breakpoint(sm-max) {
        swiper {
          margin: 0 calc(-50vw + 50%);
          padding: 0 calc(50vw - 50%);
          .swiper-wrapper {
            flex-flow: unset;
            width: 100%;
            height: 210px;
            .swiper-slide {
              height: 100%;
              width: 100% !important;
            }
          }
        }
        .bundle-item {
          flex-direction: column;
          height: 210px;
          .bundle-image {
            max-width: 300px;
            align-self: center;
            margin: 0 0 10px;
          }
          .bundle-content {
            .bundle-add-cart-group {
              flex-direction: row;
              justify-content: space-between;
              e2-add-to-cart {
                margin-top: 5px;
              }
            }
          }
        }
      }
    }
  }
}
