%e2BrandPromotion {
  e2-brand-promotion {
    @extend %e2ItemCounter !optional;
    .promotion-group {
      display: flex;
      gap: 5px;
      .promotion-image {
        max-width: 300px;
        height: 360px;
        img {
          border-radius: 10px;
        }
      }
      .product-group {
        flex: 1;
        position: relative;
        swiper {
          margin-left: 0;
          overflow: hidden;
          .swiper-wrapper {
            flex-flow: column wrap;
            width: 100%;
            height: 365px;
            .swiper-slide {
              height: 50%;
              width: calc(50% - 5px) !important;
            }
          }
        }
        .product-item {
          background-color: $color-white;
          border-radius: 10px;
          display: flex;
          padding: 10px 15px;
          height: calc(100% - 5px);
          .product-image {
            max-width: 135px;
            min-width: 135px;
            height: 160px;
            margin-left: 15px;
            img {
              height: 100%;
              object-fit: cover;
            }
          }
          .product-content {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 10px 0;
            .product-detail-row {
              .product-name {
                text-decoration: none;
                color: $color-brown;
                font-size: 20px;
                font-weight: 500;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                max-width: 256px;
              }
              .product-unit {
                margin-top: 10px;
                color: $color-octonary;
              }
            }
            .product-add-cart-group {
              display: flex;
              flex-direction: column;
              .originalPrice {
                text-decoration: line-through;
                color: $color-octonary;
              }
              .product-price-row {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
                .currentPrice {
                  font-size: 18px;
                  font-weight: 500;
                  color: $color-quaternary;
                  margin-right: 5px;
                  display: flex;
                  align-items: center;
                  &.member {
                    color: $color-tertiary;
                  }
                  img {
                    width: 32px;
                    height: 19px;
                    margin-right: 5px;
                  }
                }
                e2-add-to-cart {
                  margin-top: 5px;
                  .input-container {
                    max-width: 127px;
                    min-width: 127px;
                    height: 30px;
                    padding: 0 15px;
                  }
                  .btn {
                    height: 30px;
                    min-width: 127px;
                  }
                }
              }
            }
            @include breakpoint(lg-max) {
              padding: 5px 0;
              .product-detail-row {
                .product-name {
                  font-size: 18px;
                }
                .product-unit {
                  margin-top: 5px;
                }
              }
            }
          }
        }
      }
      @include breakpoint(md-max) {
        .promotion-image {
          width: max(calc(310px / 1.2), 29.297vw);
          height: max(310px, calc(29.297vw * 1.2));
        }
        .product-group {
          swiper {
            .swiper-wrapper {
              height: calc(35.157vw + 5px);
              min-height: 315px;
              .product-item {
                .product-image {
                  width: 100%;
                  max-width: 130px;
                  height: 100%;
                  align-self: center;
                  min-width: unset;
                  margin-left: 10px;
                  img {
                    float: right;
                  }
                }
                .product-content {
                  padding: 0 0 10px;
                  .product-detail-row {
                    .product-name {
                      font-size: 14px;
                    }
                    .product-unit {
                      font-size: 12px;
                    }
                  }
                  .product-add-cart-group {
                    .product-price-row {
                      .currentPrice {
                        font-size: 16px;
                        img {
                          width: 27px;
                          height: 16px;
                        }
                      }
                      e2-add-to-cart {
                        margin-top: 10px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 860px) {
        .promotion-image {
          width: 135px;
          height: 150px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .product-group {
          max-width: calc(100% - 135px);
          swiper {
            .swiper-wrapper {
              flex-flow: unset;
              height: 150px;
              min-height: unset;
              .swiper-slide {
                width: calc(50% - 3px) !important;
                height: 100%;
                .product-item {
                  height: 100%;
                }
              }
            }
          }
        }
      }
      @include breakpoint(sm-max) {
        .product-group {
          swiper {
            .swiper-wrapper {
              .swiper-slide {
                width: 100% !important;
                .product-item {
                  .product-image {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    margin-left: 5px;
                    img {
                      height: auto;
                      max-height: 130px;
                    }
                  }
                  .product-content {
                    .product-detail-row {
                      .product-unit {
                        font-size: 12px;
                      }
                    }
                    .product-add-cart-group {
                      .originalPrice {
                        font-size: 12px;
                      }
                      .product-price-row {
                        .currentPrice {
                          img {
                            width: 24px;
                            height: 14px;
                          }
                        }
                        e2-add-to-cart {
                          .input-container {
                            max-width: 108px;
                            min-width: 108px;
                          }
                          .btn {
                            min-width: 108px;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
