.Notification {
  display: flex;
  overflow: hidden;
  text-align: right;
  transition: $transition;
  background: #292D84;
  height: 27px;
  a {
    background-color: $color-senary;
    border-radius: 12.5px;
    color: $color-bay-of-many;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    max-width: 150px;
    margin: 0 20px 0 auto;
    padding: 3px 0 3px 3px;
    width: 100%;
    text-decoration: none;
    &:hover {
      color: $color-bay-of-many;
    }
    i {
      margin-right: 5px;
    }
    .number {
      background-color: #f85a5a;
      border-radius: 50%;
      color: $color-white;
      display: inline-block;
      height: 16px;
      line-height: 16px;
      margin-left: 4px;
      width: 16px;
      text-align: center;
    }
  }
}
