.NavigationBar {
  background-color: #ffffff;
  min-height: 55px !important;
  e2-header-navigation-bar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 55px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    e2-header-navigation-tab {
      .nav-item {
        position: relative;
        display: flex;
        align-items: center;
        color: $base-color-font;
        font-size: 15px;
        font-weight: bolder;
        height: 55px;
        overflow: hidden;
        padding: 0 23px;
        text-align: center;
        text-decoration: none;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          background-color: $color-concrete;
          width: 1px;
        }
        i {
          font-size: 7px;
          margin-left: 10px;
        }
        &.navDemo {
          background-color: $color-tertiary;
          color: $color-white;
        }
        &.navFeaturedItems,
        &.navClearanceSales {
          color: $color-quinary;
        }
        &.selected,
        &:hover:not(.noSubMenu) {
          background-color: $color-catskill-white;
          box-shadow: inset 0 -3px 0 0 $color-tertiary;
          color: $color-tertiary;
        }
      }
      .nav-subMenu-lv1 {
        position: absolute;
        top: 55px;
        left: 0;
        right: 0;
        box-shadow: 0 6px 10px 0 rgba(30, 56, 140, 0.15);
        background-color: $color-septenary-light;
        border: solid 1px $color-septenary;
        border-radius: 0 0 10px 10px;
        height: 0;
        overflow: hidden;
        opacity: 0;
        margin: 0 40px;
        z-index: -1;
        transition: $transition;
        transition-property: height, opacity;
        @include breakpoint(md-max) {
          display: none;
        }
        & > ul {
          list-style: none;
          margin: 0;
          padding: 0;
          li {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
            & > a {
              display: flex;
              align-items: center;
              background-color: $color-white;
              color: $color-dove-gray;
              font-size: $base-font-size;
              font-weight: 500;
              min-height: 50px;
              overflow: hidden;
              padding: 0 15px 0 30px;
              width: 270px;
              text-decoration: none;
              i {
                margin-left: auto;
                padding-left: 10px;
              }
              &:hover {
                background-color: $color-septenary-light;
                color: $color-primary;
              }
            }
            & ~ li {
              border-top: 1px solid $color-septenary-light;
            }
          }
        }
      }
      .nav-subMenu-lv2 {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 270px;
        right: 0;
        background-color: $color-septenary-light;
        width: calc(100% - 270px);
        z-index: -1;
        .detail {
          @include scrollbar;
          position: relative;
          display: block;
          height: 100%;
          opacity: 0;
          overflow-y: auto;
          padding: 25px;
          transition: opacity 0.2s ease-in-out;
          transition-delay: 0.2s;
          .list {
            .item {
              & ~ .item {
                margin-top: 40px;
              }
              .item-header {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                margin-bottom: 20px;
                .title {
                  font-size: 16px;
                  font-weight: bold;
                }
                .btn-viewAll {
                  font-weight: 500;
                  margin-left: 10px;
                  text-decoration: none;
                }
              }
              .subcategory-group {
                display: flex;
                flex-wrap: wrap;
                background-color: $color-alabaster;
                border-radius: 10px;
                overflow: hidden;
                .subcategory-item {
                  display: flex;
                  align-items: center;
                  border-bottom: 1px solid $color-concrete;
                  border-right: 1px solid $color-concrete;
                  margin-bottom: -1px;
                  padding: 7px;
                  width: 25%;
                  text-decoration: none;
                  &:nth-child(4n) {
                    border-right: none;
                  }
                  .img {
                    img {
                      display: block;
                    }
                  }
                  .text {
                    color: $color-primary;
                    font-weight: bold;
                    line-height: 1.43;
                    margin-left: 13px;
                  }
                }
              }
              .brands-group {
                display: flex;
                flex-wrap: wrap;
                margin: -2px;
                a {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  background-color: $color-white;
                  border-radius: 10px;
                  min-width: 100px;
                  width: calc(11.11% - 4px);
                  height: 60px;
                  margin: 2px;
                }
              }
            }
          }
        }
      }
    }
    &.activeOpen:not(.navOpen) {
      e2-header-navigation-tab {
        .nav-item {
          &.active {
            background-color: $color-catskill-white;
            box-shadow: inset 0 -3px 0 0 $color-tertiary;
            color: $color-tertiary;
            & ~ .nav-subMenu-lv1 {
              height: 460px;
              right: 0;
              opacity: 1;
              z-index: 1;
              transform: translateY(0);
              ul {
                li {
                  & > a {
                    &.active {
                      background-color: $color-septenary-light;
                      color: $color-primary;
                      & ~ .nav-subMenu-lv2 {
                        z-index: 1;
                        .detail {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }
              &:not(.navSubOpen) {
                ul {
                  li:first-child {
                    & > a {
                      background-color: $color-septenary-light;
                      color: $color-primary;
                      & ~ .nav-subMenu-lv2 {
                        z-index: 1;
                        .detail {
                          opacity: 1;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.navOpen {
      e2-header-navigation-tab {
        .nav-item {
          & ~ .nav-subMenu-lv1 {
            box-shadow: inset 0 -3px 15px -4px rgba(30, 56, 140, 0.15);
            border-radius: 0;
            opacity: 0;
            height: 460px;
            right: calc(100% - 352px);
            transition-property: height, opacity, right;
            & > ul {
              li {
                &:nth-child(9) {
                  & > a {
                    box-shadow: inset 0 -20px 10px -20px rgb(30 56 140 / 15%);
                  }
                }
                .nav-subMenu-lv2 {
                  box-shadow: inset -20px -20px 10px -20px rgba(30, 56, 140, 0.15);
                }
              }
            }
          }
          &.navOpened {
            & ~ .nav-subMenu-lv1 {
              opacity: 1;
              z-index: 1;
              &.navSubOpen {
                right: 0;
                & > ul {
                  li {
                    & > a {
                      &.active {
                        background-color: $color-septenary-light;
                        color: $color-primary;
                        & ~ .nav-subMenu-lv2 {
                          z-index: 1;
                          .detail {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      &.activeOpen {
        e2-header-navigation-tab {
          .nav-item {
            &.active {
              background-color: $color-catskill-white;
              box-shadow: inset 0 -3px 0 0 $color-tertiary;
              color: $color-tertiary;
              & ~ .nav-subMenu-lv1 {
                right: 0;
                opacity: 1;
                z-index: 1;
                & > ul {
                  li {
                    & > a {
                      &.active {
                        background-color: $color-septenary-light;
                        color: $color-primary;
                        & ~ .nav-subMenu-lv2 {
                          z-index: 1;
                          .detail {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
                &:not(.navSubOpen) {
                  & > ul {
                    li:first-child {
                      & > a {
                        background-color: $color-septenary-light;
                        color: $color-primary;
                        & ~ .nav-subMenu-lv2 {
                          z-index: 1;
                          .detail {
                            opacity: 1;
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
