%e2MiniBanner {
  e2-mini-banner {
    width: 100%;
    overflow: hidden;
    .swiper-box {
      position: relative;
      swiper {
        margin-left: 0;
        overflow: hidden;
        .swiper-wrapper {
          width: fit-content;
          .swiper-slide {
            width: 390px;
            @include breakpoint(lg-max) {
              width: calc(33.33% - 5px);
              .banner {
                width: 100%;
              }
            }
            .banner {
              img {
                border-radius: 10px;
              }
            }
          }
        }
      }
    }
    @include breakpoint(md-max) {
      .swiper-box {
        swiper {
          margin-left: calc(-50vw + 50%);
          margin-right: calc(-50vw + 50%);
          padding-left: calc(50vw - 50%);
          padding-right: calc(50vw - 50%);
          .swiper-wrapper {
            .swiper-slide {
              width: min(390px, calc(100vw - 33px));
            }
          }
        }
      }
    }
  }
}
