%e2MainBanner {
  @extend %e2BannerCarousel !optional;
  .MainBanner {
    e2-main-banner {
      e2-banner-carousel {
        .swiper-box {
          position: relative;
          margin-left: calc(-50vw + 50%);
          margin-right: calc(-50vw + 50%);
          background-color: $color-primary;
          padding: 20px 0 40px;
          overflow-x: hidden;
          swiper {
            max-width: 726px;
            overflow: unset;
            .swiper-slide {
              max-width: 726px;
              .banner {
                max-width: 726px;
                height: 400px;
                img {
                  border-radius: 10px;
                  width: 100%;
                }
              }
            }
            .swiper-slide:not(.swiper-slide-active) {
              opacity: 0.4;
            }
          }
          .next,
          .previous {
            cursor: pointer;
            position: absolute;
            top: 0;
            bottom: 40px;
            margin: auto;
            width: 37px;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-white;
            font-size: 12px;
            transition: all 0.15s ease-in-out;
            &.fade {
              opacity: 0;
            }
          }
          .next {
            border-radius: 0 20px 20px 0;
            left: 762px;
            right: 0;
          }
          .previous {
            border-radius: 20px 0 0 20px;
            right: 762px;
            left: 0;
          }
          .indicators {
            bottom: 17.5px;
            .swiper-pagination-bullet {
              width: 5px;
              height: 5px;
              border-radius: 5px;
              background-color: $color-septenary;
              margin: 0 2.5px;
              transition: all 0.2s ease-in-out;
              &.swiper-pagination-bullet-active {
                background-color: $color-tertiary;
                width: 30px;
              }
            }
          }
        }
        @media screen and (max-width: 860px) {
          .swiper-box {
            padding: 0 0 20px;
            background-color: unset;
            swiper {
              max-width: unset;
              .swiper-slide {
                max-width: unset;
                .banner {
                  max-width: unset;
                  height: unset;
                  img {
                    border-radius: unset;
                  }
                }
              }
            }
            .indicators {
              bottom: 0;
            }
            .next,
            .previous {
              display: none;
            }
          }
        }
      }
    }
  }
}
