%e2PopupReminder {
  e2-popup-reminder {
    position: absolute;
    top: 20px;
    right: 0;
    > * {
      width: 100%;
      background-color: $color-quinary;
      border-radius: 5px;
      padding: 10px 43px 15px 15px;
      color: $color-white;
      .btn-close {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
      }
      .popup-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 10px;
      }
      .popup-content {
        max-width: 208px;
      }
    }
    @include breakpoint(md-max) {
      display: none;
    }
  }
}
