%e2ProductPreview {
  e2-product-preview {
    @extend %e2ItemCounter !optional;
    flex-grow: 1;
    .preview {
      width: 100%;
      padding: 15px 15px 10px;
      border-radius: 10px;
      background-color: $color-white;
      overflow: hidden;
      .preview-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .preview-title {
          font-size: 20px;
          font-weight: bold;
          color: $color-primary;
        }
      }
      .preview-product-group {
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        .swiper-box {
          width: 100%;
          swiper {
            .swiper-wrapper {
              justify-content: space-between;
              .swiper-slide {
                width: 110px;
                .preview-product {
                  display: flex;
                  flex-direction: column;
                  position: relative;
                  &:hover {
                    .preview-controll-btn {
                      opacity: 1;
                      transition: all 0.2s ease-in-out;
                      a {
                        text-decoration: none;
                      }
                    }
                  }
                  .preview-image {
                    margin: 0 auto 5px;
                    width: 95px;
                    height: 95px;
                    img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                  .preview-price {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 500;
                    height: 20px;
                    &.member {
                      color: $color-tertiary;
                    }
                    img {
                      width: 27px;
                      height: 16px;
                      margin-right: 5px;
                    }
                  }
                  .preview-controll-btn {
                    position: absolute;
                    top: 0;
                    bottom: 20px;
                    left: 0;
                    right: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    opacity: 0;
                    .input-container {
                      min-width: 102px;
                      max-width: 102px;
                      height: 34px;
                      background-color: $color-white;
                      padding: 0 15px;
                    }
                    .btn {
                      min-width: 102px;
                      max-width: 102px;
                      height: 34px;
                      &:not(:last-child) {
                        margin-bottom: 5px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @include breakpoint(md-max) {
      .preview {
        .preview-product-group {
          .swiper-box {
            swiper {
              .swiper-wrapper {
                .swiper-slide {
                  width: 156px;
                  &:last-child {
                    width: 136px;
                    .preview-product {
                      margin-right: 0;
                    }
                  }
                  .preview-product {
                    margin-right: 20px;
                    .preview-controll-btn {
                      margin-top: 10px;
                      position: unset;
                      transform: unset;
                      opacity: 1;
                      > .btn {
                        display: none;
                      }
                      e2-add-to-cart {
                        .input-container {
                          max-width: 136px;
                        }
                        .btn {
                          min-width: 136px;
                          max-width: 136px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    @include breakpoint(sm-max) {
      .preview {
        width: 100%;
        &:not(:last-child) {
          margin-bottom: 10px;
        }
        .preview-header {
          .preview-title {
            font-size: 18px;
          }
        }
        .preview-product-group {
          .swiper-box {
            swiper {
              .swiper-wrapper {
                .swiper-slide {
                  width: 128px;
                  &:last-child {
                    width: 108px;
                    .preview-product {
                      margin-right: 0;
                    }
                  }
                  .preview-product {
                    margin-right: 20px;
                    .preview-image {
                      width: 95px;
                      height: 95px;
                    }
                    .preview-controll-btn {
                      e2-add-to-cart {
                        .input-container {
                          max-width: 108px;
                        }
                        .btn {
                          min-width: 108px;
                          max-width: 108px;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
