%e2ProductSwiper {
  e2-product-swiper {
    @extend %e2ProductTile !optional;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    overflow: hidden;
    .group-header {
      .header-row {
        display: flex;
        align-items: center;
        gap: 0 25px;
        .sub-level-list-container {
          display: flex;
          gap: 0 10px;
          font-size: 16px;
          .subLevel {
            cursor: pointer;
            &.active {
              font-weight: 500;
            }
          }
          .separate {
            font-weight: 500;
            color: $color-silver;
          }
          + .view-all-btn {
            background-color: $color-septenary-light;
            &:hover {
              background-color: $color-tertiary;
            }
          }
        }
      }
    }
    .swiper-box {
      width: 100%;
      swiper {
        .swiper-wrapper {
          .swiper-slide {
            margin-bottom: 5px;
            width: fit-content;
          }
        }
      }
    }
    .no-swiper {
      display: flex;
      flex-wrap: wrap;
      gap: 4px;
      e2-product-tile {
        flex-grow: 1;
        .productContainer {
          width: 100%;
        }
      }
    }
    .viewAllLink {
      width: 100%;
      margin-top: 25px;
      a {
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 10px;
        text-decoration: none;
        width: fit-content;
        margin: auto;
        i {
          font-size: 12px;
        }
      }
    }
    @include breakpoint(md-max) {
      overflow: unset;
      .swiper-box {
        display: contents;
        swiper {
          overflow: hidden;
          margin-left: calc(-50vw + 50%);
          margin-right: calc(-50vw + 50%);
          padding-left: calc(50vw - 50%);
          padding-right: calc(50vw - 50%);
        }
      }
    }
    @include breakpoint(sm-max) {
      .group-header {
        .header-row {
          .sub-level-list-container {
            display: none;
            + .view-all-btn {
              background-color: $color-octonary-light;
            }
          }
        }
      }
    }
  }
}
