%e2ProductPreviewCarousel {
  e2-product-preview-carousel {
    @extend %e2ProductPreview !optional;
    display: flex;
    gap: 10px 5px;
    e2-product-preview {
      width: 50%;
    }
    @include breakpoint(sm-max) {
      flex-wrap: wrap;
    }
  }
}
