%e2ProductCarousel {
  e2-product-carousel {
    @extend %e2ProductSwiper !optional;
    display: flex;
    flex-direction: column;
    gap: 30px 0;
    swiper {
      margin: 0;
      .swiper-wrapper {
        .swiper-slide {
          width: fit-content !important;
        }
      }
    }
    .nav {
      display: flex;
      margin: 0 0 -30px;
      padding: 0;
      li {
        margin: 0;
        list-style: none;
        font-size: 18px;
        font-weight: bold;
        padding: 15px 35px;
        color: $color-white;
        position: relative;
        cursor: pointer;
        &::after {
          position: absolute;
          content: '';
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          background-color: $color-primary;
          border-radius: 10px 10px 0 0;
          box-shadow: 0 -2px 5px 0 rgba($color-primary, 0.04);
          transform: perspective(80px) scale(0.93, 1.2) rotateX(15deg)
            translate(0.5px, 0px);
          z-index: -1;
          transition: background-color 0.15s ease-in-out;
        }
        &.active {
          color: $color-nonary;
          &::after {
            background-color: $color-white;
          }
        }
      }
    }
    .tab-pane {
      display: none;
      &.active {
        display: flex;
        border-radius: 2px 10px 10px 10px;
      }
    }
    e2-product-tile {
      .productContainer {
        &:hover {
          e2-add-to-wishlist {
            .btn-wishlist {
              opacity: 1;
              pointer-events: all;
            }
          }
        }
      }
    }
    @include breakpoint(md-max) {
      e2-product-swiper {
        .swiper-box {
          swiper {
            margin: 0;
            padding: 0;
          }
        }
      }
    }
    @include breakpoint(sm-max) {
      e2-product-swiper {
        .swiper-box {
          swiper {
            margin-left: calc(-50vw + 50%);
            margin-right: calc(-50vw + 50%);
            padding-left: calc(50vw - 50%);
            padding-right: calc(50vw - 50%);
          }
        }
      }
    }
  }
}
