%e2ProductCategory {
  e2-product-category {
    swiper {
      .swiper-wrapper {
        .swiper-slide {
          display: flex;
          gap: 5px;
          width: fit-content !important;
        }
      }
    }
    .category {
      position: relative;
      width: 143px;
      text-decoration: none;
      .category-image {
        height: 178px;
        width: 100%;
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .category-name {
        color: $color-brown;
        font-size: 16px;
        font-weight: 500;
        position: absolute;
        top: 20px;
        left: 12px;
        right: 12px;
      }
    }
    @include breakpoint(sm-max) {
      swiper {
        .swiper-wrapper {
          .swiper-slide {
            align-self: flex-start;
            width: calc(25% - 5px) !important;
            min-width: 128px;
            flex-direction: column;
          }
        }
      }
      .category {
        min-width: 128px;
        width: 100%;
        display: flex;
        flex-direction: column;
        &::before {
          content: '';
          padding-top: 100%;
          display: block;
          position: relative;
        }
        .category-image {
          position: absolute;
          top: 0;
          left: 0;
          height: calc(100% - 65px);
        }
        .category-name {
          position: unset;
          text-align: center;
          margin: 15px 0 10px;
          height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}
