%e2ProductTile {
  e2-product-tile {
    @extend %e2ItemCounter !optional;
    @extend %e2AddToWishlist !optional;
    .productContainer {
      &:hover {
        box-shadow: 0 0 5px 0 rgba(30, 56, 140, 0.15);
        e2-add-to-wishlist {
          .btn-wishlist {
            opacity: 1;
            pointer-events: all;
          }
        }
        e2-add-to-cart {
          .btn {
            background: #3fa7f3;
            border-color: #3fa7f3;
            color: #ffffff;
          }
        }
      }
      min-height: 360px;
      max-height: 360px;
      padding: 10px 5px;
      border-radius: 10px;
      background-color: $color-white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: fit-content;
      position: relative;
      .brandIcon {
        position: absolute;
        left: 5px;
        top: 10px;
        display: flex;
        flex-direction: column;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 35px;
          height: 35px;
          margin-bottom: 8px;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
      .rankingIcon {
        user-select: none;
        position: absolute;
        left: 12px;
        top: 13px;
        display: flex;
        span {
          position: absolute;
          bottom: 10px;
          left: 0;
          right: 0;
          width: fit-content;
          margin: auto;
          font-size: 15.7px;
          font-weight: 500;
          color: $color-white;
        }
        i {
          font-size: 39px;
          overflow: hidden;
          &.gold {
            color: #e2c54d;
          }
          &.silver {
            color: $color-octonary;
          }
          &.bronze {
            color: #ae7e40;
          }
          &.iron {
            color: #d3cbc1;
          }
        }
      }
      .productImage {
        min-width: 180px;
        max-width: 180px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      e2-add-to-wishlist {
        position: absolute;
        top: 20px;
        right: 15px;
        .btn-wishlist {
          opacity: 0;
          pointer-events: none;
          font-size: 22px;
          padding: 0;
        }
        @include breakpoint(md-max) {
          .btn-wishlist {
            opacity: 1;
            pointer-events: all;
          }
        }
      }
      .limited {
        position: absolute;
        right: 5px;
        top: 150px;
        width: 40px;
        height: 40px;
        border: solid 2px $color-tertiary-blue;
        background-color: rgba($color-denary, 0.48);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $color-primary;
        font-weight: bold;
        z-index: 2;
        text-transform: uppercase;
        span:first-child {
          font-size: 18px;
          transform: translate(0, 3px);
        }
        span:last-child {
          transform: scale(0.6667);
        }
      }
      .productInfo {
        font-size: 14px;
        position: relative;
        width: 100%;
        padding: 10px 0 0;
        .productHighlight {
          padding: 3px;
          text-align: center;
          position: absolute;
          top: -23px;
          left: 0;
          right: 0;
          color: $color-white;
          background-color: $color-quinary;
          border-radius: 0 8px 0 8px;
          &.displayOOS {
            background-color: $color-octonary;
          }
          &:empty {
            display: none;
          }
        }
        .productName {
          text-decoration: none;
          max-width: 170px;
          font-weight: 500;
          color: $color-brown;
          margin: 0 0 5px 3px;
          width: fit-content;
          max-height: 40px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .colorNumber {
          margin: 0 0 0 3px;
          overflow: hidden;
          color: $color-octonary;
          height: 17px;
        }
        .productRow {
          e2-add-to-cart {
            position: unset;
          }
        }
        .productPrice {
          position: absolute;
          top: 90px;
          left: 3px;
          right: 0;
          margin: auto;
          color: $color-nonary;
          font-size: 18px;
          display: flex;
          align-items: flex-end;
          > * {
            margin-right: 5px;
          }
          img {
            width: 19px;
            height: 12px;
            align-self: center;
            display: inline-block;
          }
          .originalPrice {
            font-size: 12px;
            color: $color-octonary;
            text-decoration: line-through;
          }
          .subText {
            position: absolute;
            left: 0;
            bottom: -15px;
            font-size: 12px;
            color: $color-quaternary-dark;
          }
          .isDiscount {
            color: $color-quaternary-dark;
          }
          .isMember {
            color: $color-tertiary;
          }
        }
      }
      e2-add-to-cart {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: auto;
        .input-number {
          justify-content: center;
          .input-container {
            margin: auto 10px;
            min-width: 180px;
            height: 30px;
            padding: 0 15px;
          }
        }
        .btn {
          margin: auto 5px;
          font-size: 14px;
          min-width: 180px;
          height: 30px;
        }
      }
    }
  }
}
