%e2QuickLink {
  e2-quick-link {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px 0 0;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    box-shadow: 0 -3px 4px 0 rgba($color-primary, 0.1);
    gap: 30px 0;
    @include breakpoint(md-max) {
      padding: 25px 0 0;
      gap: 25px 0;
    }
    @media screen and (max-width: 860px) {
      box-shadow: none;
    }
    .link-icon {
      display: flex;
      justify-content: center;
      width: 50px;
      height: 50px;
    }
    .link-item {
      color: $color-nonary;
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      width: 110px;
      @media screen and (max-width: 880px) {
        flex-basis: 25%;
      }
      .link-title {
        font-weight: 500;
        text-align: center;
      }
    }
  }
}
