%e2SuperBrandPromotion {
  e2-super-brand-promotion {
    @extend %e2ItemCounter !optional;
    .promotion-main {
      display: flex;
      border-radius: 10px;
      overflow: hidden;
      .promotion-content {
        flex-grow: 1;
        padding: 30px;
        background-color: $color-white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .promotion-logo {
          width: 192px;
          height: 47px;
          margin-bottom: 25px;
        }
        .promotion-description {
          max-width: 520px;
          line-height: 24px;
        }
        .promotion-product-group {
          display: flex;
          flex-direction: column;
          .promotion-product {
            display: flex;
            align-items: center;
            width: fit-content;
            &:not(:last-child) {
              margin-bottom: 15px;
            }
            &:hover {
              .product-content {
                .product-add-cart-group {
                  e2-add-to-cart {
                    .btn {
                      display: flex;
                    }
                  }
                }
              }
            }
            .product-image {
              min-width: 95px;
              max-width: 95px;
              min-height: 95px;
              max-height: 95px;
              margin-right: 20px;
            }
            .product-content {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              height: 100%;
              min-height: 95px;
              max-width: 290px;
              .product-name {
                text-decoration: none;
                color: $color-brown;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
              }
              .product-add-cart-group {
                display: flex;
                align-items: center;
                justify-content: space-between;
                position: relative;
                .product-price {
                  font-size: 18px;
                  font-weight: 500;
                  margin-bottom: 5px;
                }
                e2-add-to-cart {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  .input-container {
                    max-width: 127px;
                    min-width: 127px;
                    height: 30px;
                    padding: 0 15px;
                  }
                  .btn {
                    display: none;
                    min-width: 127px;
                    height: 30px;
                  }
                }
              }
            }
          }
        }
      }
      .promotion-banner {
        min-width: 450px;
        max-width: 450px;
        max-height: 540px;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
      @include breakpoint(md-max) {
        .promotion-content {
          padding-right: 20px;
          .promotion-product-group {
            .promotion-product {
              .product-content {
                .product-add-cart-group {
                  e2-add-to-cart {
                    .btn {
                      display: flex;
                    }
                  }
                }
              }
            }
          }
        }
      }
      @media screen and (max-width: 940px) {
        flex-direction: column-reverse;
        .promotion-banner {
          min-width: 100%;
          max-width: unset;
          max-height: unset;
        }
        .promotion-content {
          padding: 15px;
          .promotion-logo {
            width: 123px;
            height: 30px;
            margin-bottom: 15px;
          }
          .promotion-description {
            margin-bottom: 30px;
            max-width: unset;
          }
          .promotion-product-group {
            flex-grow: 1;
            .promotion-product {
              width: 100%;
              .product-content {
                max-width: unset;
                flex-grow: 1;
                .product-add-cart-group {
                  e2-add-to-cart {
                    .input-container {
                      max-width: 104px;
                      min-width: 104px;
                    }
                    .btn {
                      min-width: 104px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
