.SearchBox {
  @extend %ngxPerfectScrollbar !optional;

  e2-search-box {
    max-width: 402px;
    position: relative;
    display: block;
  }
  .form-group {
    width: 100%;
    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
      &:first-child {
        left: 15px;
      }
      &:last-child {
        right: 11px;
        opacity: 0;
      }
    }
    input {
      width: 100%;
      background-color: rgba($color-midnight-blue, 0.5);
      border: 1px solid rgba($color-white, 0.5);
      border-radius: 17.5px;
      color: $color-primary;
      height: 35px;
      padding: 0 30px 0 40px;
      opacity: 0.41;
      &::placeholder {
        color: $color-white;
      }
      &:focus {
        background-color: $color-white;
        opacity: 1;
        & ~ i {
          color: $color-secondary;
          opacity: 0.2;
        }
      }
      &:not(:placeholder-shown) {
        &.active {
          background-color: $color-white;
          opacity: 1;
          & ~ i {
            color: $color-secondary;
            cursor: pointer;
            opacity: 1;
          }
        }
      }

      /*  &:focus {
          opacity: 1;
          & ~ i {
            color: $color-secondary;
            opacity: 0.2;
          }
        }

        &.active {
          background-color: $color-white;
          opacity: 1;
          & ~ i {
            cursor: pointer;
            opacity: 1;
          }
        } */
    }
  }
  .search-result {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    background-color: $color-white;
    border: 1px solid $color-septenary;
    border-radius: 10px;
    box-shadow: $box-shadow;
    .searched {
      .container {
        padding: 15px 15px 20px;
        .label-item {
          & ~ .label-item {
            margin-top: 25px;
          }
          .label-header {
            display: flex;
            justify-content: space-between;
            .title {
              font-weight: bold;
            }
            a {
              font-weight: 500;
            }
          }
          .label-list {
            margin: 15px -2.5px -2.5px;
            span {
              cursor: pointer;
              display: inline-flex;
              align-items: center;
              border: 1px solid $color-tertiary-blue;
              border-radius: 20px;
              color: $color-primary;
              height: 30px;
              line-height: 30px;
              margin: 2.5px;
              padding: 0 13px;
              white-space: nowrap;
              i {
                margin-left: 5px;
                transform: translateX(5px);
              }
            }
          }
        }
      }
    }
    .suggestions {
      .container {
        .box-item {
          .box-header {
            border-bottom: 1px solid $color-septenary;
            min-height: 40px;
            padding: 10px;
            .title {
              font-weight: bold;
              span {
                color: $color-tertiary;
              }
            }
          }
          .box-body {
            padding: 0 6px 0 10px;
            perfect-scrollbar {
              min-height: 135px;
              max-height: 225px;
              > .ps {
                > .ps__rail-y {
                  opacity: 1;
                  margin: 7px 0;
                }
              }
              .list {
                a {
                  color: $base-color-font;
                  display: block;
                  margin-right: 9px;
                  min-height: 45px;
                  padding: 14px 10px;
                  text-decoration: none;
                  &:hover {
                    background-color: $color-septenary-light;
                  }
                }
              }
            }
          }
          .box-footer {
            border-top: 1px solid $color-septenary;
            a {
              display: block;
              font-weight: 500;
              height: 40px;
              line-height: 40px;
              padding: 0 10px;
              text-align: center;
              text-decoration: none;
            }
          }
        }
      }
    }
    .empty {
      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 115px;
        padding: 15px;
        a {
          color: $color-primary;
          font-weight: 500;
          text-decoration: none;
          span {
            color: $color-tertiary;
          }
        }
      }
    }
  }

  e2-hot-suggest-item {
    display: flex;
    margin-top: 8px;
    e2-link {
      & ~ e2-link {
        margin-left: 17px;
      }
      a {
        color: $color-tertiary-blue;
        font-size: 13px;
      }
    }
  }
}
