<div style="display: flex;width: 100%">
  <div class="footerMobileAppInserted">
    <h5 class="footerMobileAppTitle">DOWNLOAD NOW AND DISCOVER</h5>
    <ul class="footerMobileAppIcons">
      <li class="footerMobileAppIcon">
        <a class="pnshkAppIcon">
          <img src="./assets/img/share/logo_pnsapp.png" alt="icon" />
        </a>
      </li>
      <li class="footerMobileAppIcon">
        <a class="pnshkAppQRCode">
          <img src="./assets/img/share/logo_pnsappqrcode.png" alt="icon" />
        </a>
      </li>
      <li class="footerMobileAppIcon">
        <a class="appStoreIcon">
          <img src="./assets/img/share/icon_appstore.png" alt="icon" />
        </a>
        <a class="googlePlayIcon">
          <img src="./assets/img/share/icon_googleplay.png" alt="icon" />
        </a>
      </li>
    </ul>
    <ul class="footerSocialMediaIcons">
      <li class="footerSocialMediaIcon">
        <a class="facebookIcon">
          <i class="icon-facebook"></i>
        </a>
      </li>
      <li class="footerSocialMediaIcon">
        <a class="instagramIcon">
          <i class="icon-instagram"></i>
        </a>
      </li>
      <li class="footerSocialMediaIcon">
        <a class="youtubeIcon">
          <i class="icon-youtube"></i>
        </a>
      </li>
    </ul>
  </div>
  <app-footer-links></app-footer-links>
</div>





