<div [class.hide]="hide">
  <div class="btn-close" (click)="hide = true">
    <i class="icon-close"></i>
  </div>
  <div class="popup-header">Notice</div>
  <div class="popup-content">Text Text Text Text Text TextTextTextText</div>
</div>
