<a routerLink="/login" class="account-link">
  <i class="icon-person"></i>
</a>
<div *ngIf="isOpened$" class="account-menu">
  <div class="container">
    <div class="account-list">
      <ul>
        <li>
          <a routerLink="/my-account"><i class="icon-person"></i><span class="text">My Account</span></a>
        </li>
        <li>
          <a><i class="icon-heart-off"></i><span class="text">My Lists</span></a>
        </li>
        <li>
          <a routerLink="/my-account/orders"><i class="icon-order-history"></i><span class="text">Order History</span></a>
        </li>
        <li>
          <a><i class="icon-back-in-time"></i><span class="text">Buy Again</span></a>
        </li>
      </ul>
    </div>
    <div class="account-logout">
      <a>Logout</a>
    </div>
  </div>

</div>




