<div class="productContainer" *ngIf="product">
  <div class="brandIcon">
    <div *ngIf="product.demoBrandIconNum > 0">
      <img src="assets/img/icon_new.png" alt="[1]" />
    </div>
    <div *ngIf="product.demoBrandIconNum > 1">
      <img src="assets/img/icon_best.png" alt="[2]" />
    </div>
    <div *ngIf="product.isFreeGift">
      <img src="assets/img/icon_freegift.png" alt="gift" />
    </div>
  </div>
  <div class="rankingIcon" *ngIf="product.ranking">
    <i
      class="icon-crown"
      [class.gold]="product.ranking == 1"
      [class.silver]="product.ranking == 2"
      [class.bronze]="product.ranking == 3"
      [class.iron]="product.ranking > 3"
    ></i>
    <span>
      {{ product.ranking }}
    </span>
  </div>
  <e2-add-to-wishlist
    *ngIf="!product.hideAddToWish"
    [productId]="product.productId"
    [compact]="true"
    [wish]="product.wish"
  ></e2-add-to-wishlist>
  <a [routerLink]="['/pdp/p/1']" class="productImage">
    <e2-media
      [container]="{
        url: product.image,
        altText: 'product-image'
      }"
    ></e2-media>
  </a>
  <div class="limited" *ngIf="product.limitedDays">
    <span>{{ product.limitedDays.days }}</span>
    <span>{{ product.limitedDays.unit }}</span>
  </div>
  <div class="productInfo">
    <div class="productHighlight" [class.displayOOS]="!checkHasStock()">
      <ng-container *ngIf="checkHasStock(); else displayOOS">
        <ng-container *ngIf="product.topPromotion">
          {{ product.topPromotion }}
        </ng-container>
      </ng-container>
      <ng-template #displayOOS>
        <ng-container> Out of Stock </ng-container>
      </ng-template>
    </div>
    <a [routerLink]="['/pdp/p/1']" class="productName">
      {{ product.name }}
    </a>
    <div class="colorNumber">{{ product.unit }}</div>
    <div class="productRow">
      <div class="productPrice">
        <img
          src="assets/img/icon_moneyback.png"
          alt=""
          *ngIf="product.isMember"
        />
        <span
          class="currentPrice"
          *ngIf="product.currentPrice"
          [class.isMember]="product.isMember"
          [class.isDiscount]="product.isDiscount || product.isAddOn"
        >
          <span *ngIf="product.isAddOn">+</span>
          ${{ product.currentPrice }}
        </span>
        <span class="originalPrice" *ngIf="product.originalPrice">
          <span *ngIf="product.isFreeGift || product.isAddOn">Value </span>
          ${{ product.originalPrice }}
        </span>
        <span class="subText">{{ product.subUnit }}</span>
      </div>
      <ng-container *ngIf="product.groupAddToCart">
        <e2-add-to-cart
          [stockStatus]="product.hasStock"
          [isFreeGift]="product.isFreeGift"
        ></e2-add-to-cart>
        <e2-notify-me [stockStatus]="product.hasStock"></e2-notify-me>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="!product.groupAddToCart">
    <e2-add-to-cart [stockStatus]="product.hasStock"></e2-add-to-cart>
    <e2-notify-me [stockStatus]="product.hasStock"></e2-notify-me>
  </ng-container>
</div>
